<div class="col-md-4">
	<md-card class="downline-level">
	<md-card-content>
	<div class="level">{{level.name}}</div>
	<div class="people">{{level.people}}</div>
	<div class="people-number">People</div>
	<div class="credits-number">$ {{level.credits}}</div>
	<div class="credits">Credits Earned</div>
	</md-card-content>
	</md-card>
</div>
