.downline-level {
	text-align:center;
	height: 300px;

	.level {
		font-size: 1.5em;
		margin-bottom: 20px;
	}
	.people {
		font-size: 2.5em;
	}
	.people-number {
		font-size: 1.5em;
		margin-bottom: 20px;
	}
	.credits-number {
		font-size: 2.5em;
	}
	.credits {
		font-size: 1.5em;
	}
}
