.carousel{
    overflow:hidden;
    width:100%;
    display:block;
    background-color: #000;
    height: 345px;
}
.slides{
    list-style:none;
    position:relative;
    width:500%; /* Number of panes * 100% */
    overflow:hidden; /* Clear floats */
        /* Slide effect Animations*/
    -moz-animation:carousel 30s infinite;
    -webkit-animation:carousel 30s infinite;
    animation:carousel 30s infinite;
}
.slides > li{
    position:relative;
    float:left;
    width: 20%; /* 100 / number of panes */
}
.carousel img{
    display:block;
    width:100%;
    max-width:100%;
    height: 345px;

}
.holder {
    position:absolute;
    text-align:center;
    width: 100%;
}
.carousel h2{
    margin-bottom: 0;
    font-size:1.2em;
    padding:0.5em 0.5em 0.5em 0.5em;
    position:relative;
    text-align:center;
    color:#fff;
    opacity: 1;
    //background-color:rgba(0,0,0,0.75);
    text-shadow: 0px 2px 4px rgba(0,0,0,0.80);
    text-transform: uppercase;
}

.carousel p{
    margin-bottom: 0;
    font-size:1em;
    padding:0em 0.5em 1em 0.5em;
    position:relative;
    z-index: 99;
    text-align:center;
    color:#fff;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.80);
    font-weight: bold;
    //background-color:rgba(0,0,0,0.75);
    text-transform: uppercase;
}

.carousel button{
    margin-bottom: 0;
    font-size:1em;
    padding:0em 0.5em 0em 0.5em;
    position:relative;
    right:0px;
    left:0px;
    text-align:center;
    color:#fff;
    background-color:rgba(0,0,0,0.75);
    text-transform: uppercase;
}

@keyframes carousel{
    0%    { left:-5%; }
    11%   { left:-5%; }
    12.5% { left:-105%; }
    23.5% { left:-105%; }
    25%   { left:-205%; }
    36%   { left:-205%; }
    37.5% { left:-305%; }
    48.5% { left:-305%; }
    50%   { left:-405%; }
    61%   { left:-405%; }
    62.5% { left:-305%; }
    73.5% { left:-305%; }
    75%   { left:-205%; }
    86%   { left:-205%; }
    87.5% { left:-105%; }
    98.5% { left:-105%; }
    100%  { left:-5%; }
}
