<div class="carousel">
  <ul class="slides">
    <li *ngFor="let image of images">
    <div class="holder">
      <h2>{{image.title}}</h2>
      <p>{{image.caption}}</p>
      <a [routerLink]="image/pageUrl"><button md-raised-button>{{image.buttonCopy}}</button></a>
    </div>

      <img src="{{image.imageUrl}}" alt="">
    </li>
  </ul>
</div>
