<div class="event-dashboard-page">
<pp-header></pp-header>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6 event-dashboard-left">
		<md-card class="profits">
		<md-toolbar color="primary">
		<span>Add Promoter</span>
		<!-- This fills the remaining space of the current row -->
		<span class="example-fill-remaining-space"></span>
		<span></span>
		</md-toolbar>
		<md-card-content>
		<div class="row">
			<form [formGroup]="promoterForm">
				<div class="col-sm-12 promoter-form">
					<div class="row">
						<div class="col-xs-12 col-md-6">
							<md-input-container>
							<input mdInput type="text" placeholder="First Name" name="" formControlName="first">
							<md-hint>hint</md-hint>
							</md-input-container>
						</div>
						<div class="col-xs-12 col-md-6">
							<md-input-container>
							<input mdInput type="text" placeholder="Last Name" name="" formControlName="last">
							<md-hint>hint</md-hint>
							</md-input-container>
						</div>
						<div class="col-xs-12">
							<textarea placeholder="Description" name="" formControlName="description"></textarea>
						</div>
						<div class="col-xs-12 col-md-6">
							<md-input-container>
							<input mdInput type="text" placeholder="Email" name="" formControlName="email">
							<md-hint>hint</md-hint>
							</md-input-container>
						</div>
						<div class="col-xs-12 col-md-6">
							<md-input-container>
							<input mdInput type="text" placeholder="Phone" name="" formControlName="phone">
							<md-hint>hint</md-hint>
							</md-input-container>
						</div>
						<div class="col-xs-12 col-md-6">
							<md-input-container>
							<input mdInput type="text" placeholder="Organization" name="" formControlName="organization">
							<md-hint>hint</md-hint>
							</md-input-container>
						</div>
						<div class="col-xs-12 col-md-6">
							<md-input-container>
							<input mdInput type="text" placeholder="Affiliation" name="" formControlName="affiliation">
							<md-hint>hint</md-hint>
							</md-input-container>
						</div>
						<div class="col-xs-12 col-md-6">
							<md-input-container>
							<input mdInput type="text" placeholder="Facebook" name="" formControlName="socialFb">
							<md-hint>hint</md-hint>
							</md-input-container>
						</div>
						<div class="col-xs-12 col-md-6">
							<md-input-container>
							<input mdInput type="text" placeholder="Twitter" name="" formControlName="socialTw">
							<md-hint>hint</md-hint>
							</md-input-container>
						</div>
						<div class="col-xs-12 col-md-6">
							<md-input-container>
							<input mdInput type="text" placeholder="Linkedin" name="" formControlName="socialLi">
							<md-hint>hint</md-hint>
							</md-input-container>
						</div>
						<div class="col-xs-12 col-md-6">
							<md-input-container>
							<input mdInput type="text" placeholder="Google+" name="" formControlName="socialG">
							<md-hint>hint</md-hint>
							</md-input-container>
						</div>
						<div class="col-xs-12 col-md-6">
							<md-input-container>
							<input mdInput type="text" placeholder="Instagram" name="" formControlName="socialIns">
							<md-hint>hint</md-hint>
							</md-input-container>
						</div>
						<div class="col-xs-12 submit-button"><button md-raised-button color="primary" (click)="addPromoter()">Add Promoter</button></div>
					</div>
				</div>
			</form>
		</div>
		</md-card-content>
		</md-card>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 event-dashboard-right">
		<md-card class="">
		<md-toolbar color="primary" class="section-title">
		<span>Promoters</span>
		<!-- This fills the remaining space of the current row -->
		<span class="example-fill-remaining-space">
		</span>
		</md-toolbar>
		</md-card>
		<event-organizer *ngFor="let promoter of promoters" [promoter]="promoter" [hideRating]="true"></event-organizer>
	</div>
