.event-promoter-page {
    padding:0px;
    .event-promoter-left {
        padding-left:0px;
        @media (min-width: 768px) {
            background-color: #FFF;
        }

        @media (min-width: 992px) {}

        @media (min-width: 1200px) {}


    }

    .event-promoter-right {
        padding-left: 0px;
        padding-right: 0px;

    }

    .event-promoter-bottom {
        @media (min-width: 768px) {
            margin-top: 40px;
        }
    }

        .placeholder {

        width: 100%;
        height: 250px;
        background-color: #A8A8A8;
    }
}
