<div class="faq-page page">
<div class="row">
		<div class="col-xs-12">
			<md-card>
			<md-toolbar color="primary">
			<h3>Frequently Asked Questions</h3>
			</md-toolbar>
			</md-card>
		</div>
	</div>
<div class="row faq-item">
	<div class="col-xs-12 col-sm-12">
		<faq-item></faq-item>
		<faq-item></faq-item>
		<faq-item></faq-item>
		<faq-item></faq-item>
		<faq-item></faq-item>
	</div>
</div>
</div>
