.contact-form {
    .contact-input {

        textarea {
            width: 100%;

        }

        button {
            margin-bottom: 15px;
        }

        .button {
            text-align: right;
        }
    }
}
