<div class="contact-form">
	<md-card>
	<md-toolbar color="primary" class="section-title">
	<span>Contact Form</span>
	<!-- This fills the remaining space of the current row -->
	<span class="example-fill-remaining-space">
	</span>
	<span></span>
	</md-toolbar>
	<md-card-content>
	<div class="row">
		<div class="col-xs-12">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi ipsa totam saepe a animi numquam! Illo nam perspiciatis, dolorum fugit dicta quo maiores repudiandae quas natus, quasi nemo reiciendis quis.</p>
		</div>
		<div class="col-sm-12">
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<div class="contact-input">
						<form [formGroup]="contactForm" novalidate (ngSubmit)="contact(contactForm.value, contactForm.valid)">
							<div class="row">
								<div class="col-xs-12 col-sm-6"><md-input-container>
									<input mdInput formControlName="name" type="text" placeholder="Name" name=""></md-input-container>
								</div>
								<div class="col-xs-12 col-sm-6"><md-input-container>
									<input mdInput formControlName="email" type="text" placeholder="Email" name=""></md-input-container>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-12">
								<md-input-container class="example-full-width">
									<textarea mdInput placeholder="Message" formControlName="message"></textarea>
								</md-input-container></div>
								<div class="col-xs-12 col-sm-12 button"><button [disabled]="!contactForm.valid" md-raised-button>Contact</button></div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	</md-card-content>
	</md-card>
</div>
