.how-to {
    //display: none;

    @media (min-width: 768px) {
        display: block;
    }

    .section-head {
        text-align: center;
        margin-bottom: 25px;
    }

    .section-copy {
    	text-align: center;
        padding: 0 10% 0 10%;

        /* Medium devices (desktops, 992px and up) */
        @media (min-width: 992px) {
        	 padding: 0 10% 0 10%;
        }
    }

    .section-video {
    	margin-top:25px;
    	text-align:center;
    	.video{
    	background-color: #D8D8D8;
    	width:70%;
    	margin:0 auto 30px auto;
        padding: 0 10% 0 10%;
		height:700px;
        /* Medium devices (desktops, 992px and up) */
        @media (min-width: 992px) {
        	 padding: 0 10% 0 10%;
        }
    }
    }

    .video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

}
