<div class="row how-to">
	<div class="col-md-12 section-head">
		<h1>Get Paid To Participate</h1>
	</div>
	<div class="col-md-12 section-copy">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent congue, libero et hendrerit luctus, leo augue vulputate dolor, finibus sagittis enim leo a neque. Nulla ullamcorper nibh vel aliquam fermentum. Vivamus facilisis, orci ut lacinia pretium, elit nunc tempus diam, et interdum nulla ante non felis. Curabitur placerat ex sed bibendum suscipit.</p>
	</div>
	<div class="col-md-12 section-video">
		<!-- <div class="video"></div> -->
		<!-- <div class="video-container">
		<iframe width="853" height="480" src="https://www.youtube.com/embed/_5TezTWru2c" frameborder="0" allowfullscreen></iframe>
		</div> -->
	</div>
</div>
