.footer {
    h3 {
        color: #FFF;
    }
    height: 30px;
    background-color: #000;
    margin-left: 0px;
    margin-right: 0px;

    @media (min-width: 768px) {
        background-color: none;
        background-size:2000px;
        background-image: url("/assets/images/bg-footer.jpg");
        background-position: 0px -414px;
        margin: 0;

        width: 100%;

        /* Set the fixed height of the footer here */
        height: 800px;
    }

    .desktop-footer {
        display: none;

        /* Small devices (tablets, 768px and up) */
        @media (min-width: 768px) {
            height: 800px;
            display: block;
            position:relative;
            .row {
            position: absolute;
            bottom: 0px;
            width: 100%;
            }

        }

        .footer-row {
            height:200px;
        }


    }

    .mobile-footer {

        bottom:0px;
        display: block;
        padding: 10px 10px 0px 10px;
        color: #FFF;

        .t-right {
            text-align: right;
        }

        .t-left {
            text-align: left;
        }

        /* Small devices (tablets, 768px and up) */
        @media (min-width: 768px) {
            display: none;
        }
    }
}

.footer_dv {
    width: 100%;
}

.footer_dv h4 {
    color: #fcab0e;
    font-family: roboto;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.footer_dv ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}


.footer_dv ul li {
    color: #fff;
    padding: 5px 0;
    a {
        color: #FFF;
    }
}

.footer_dv p {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 15px;
    text-align: justify;
}
