<section class="footer">
    <div class="container desktop-footer">
    	<div class="row footer-row">
        <div class="col-lg-2  col-md-2 col-sm-2">
                <div class="footer_dv">
                    <h3>Paid2Parti</h3>
                </div>
            </div>
        	<div class="col-lg-2  col-md-2 col-sm-2">
            	<div class="footer_dv">
                	<ul>
                    	<li class="line_rv"><a [routerLink]="['events']">Events</a></li>
                        <li><a [routerLink]="['/events', 'dances']">Dances &amp; Parties</a></li>
                        <li><a [routerLink]="['/events', 'sports']">Sports</a></li>
                        <li><a [routerLink]="['/events', 'theatre']">Theatre</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2  col-md-2 col-sm-2">
                <div class="footer_dv">
                    <ul>
                        <li><a [routerLink]="['/events', 'business']">Business &amp; Networking</a></li>
                        <li><a [routerLink]="['/events', 'concerts']">Concerts &amp; Music</a></li>
                        <li><a [routerLink]="['/events', 'other']">Other</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2  col-md-2 col-sm-2" *ngIf="isLogged()">
            	<div class="footer_dv">
                	<ul>
                    	<li><a [routerLink]="['my-events/dashboard']">Event Management</a></li>
                        <li><a [routerLink]="['account/dashboard']">Account Dashboard</a></li>
                        <li><a [routerLink]="['account/my-tickets']">My Tickets</a></li>
                        <li><a [routerLink]="['account/favorites']">Favorites</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2  col-md-2 col-sm-2" *ngIf="isLogged()">
                <div class="footer_dv">
                    <ul>
                        <li><a [routerLink]="['account/notifications']">Notifications</a></li>
                        <li><a [routerLink]="['profile/dashboard']">Profile / Settings</a></li>
                        <li><a [routerLink]="['profile/my-network']">My Network</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2  col-md-2 col-sm-2">
            	<div class="footer_dv">
                    <ul>
                        <li><a [routerLink]="['help']">How It Works</a></li>
                        <li><a [routerLink]="['help/faq']">Faq</a></li>
                        <li><a [routerLink]="['help/contact']">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-footer">
        <div class="">
            <div class="col-xs-7 t-left">Copyright</div>
            <div class="col-xs-5 t-right">Back to top</div>
        </div>
    </div>
</section>
