<div class="col-xs-12">
	<md-card class="event-ticket">
	<md-card-title class="event-title"><h4>{{event.basicDetails.name}}</h4></md-card-title>

	<md-card-content class="card-height">
	<div class="event-venue"><h5>{{event.basicDetails.venue  | truncate:80}}</h5></div>
		<div class="row event-date">

		<div class="col-md-12"><h6>{{event.basicDetails.startTime | amDateFormat:'LL'}} - {{event.location.city}}, {{event.location.province}}</h6></div>
	</div>

	<div class="description">{{event.basicDetails.description | truncate:170}}</div>
	<h5 class="ticket-sub">Tickets</h5>
	<div class="tickets" *ngFor="let ticket of event.tickets">
		<div class="ticket-details">
			<div class="ticket-desc">
				<h5>{{ticket.description}}.</h5>
			</div>
			<div class="ticket-cost">
				<p>${{ticket.cost}} {{ticket.currency}}.</p>
			</div>
			<div class="tickets-available">
				<p>{{ticket.qty - ticket.available}} Tickets Sold</p>
			</div>
			<div class="tickets-available">
				<p>{{ticket.available}} Tickets Remaining</p>
			</div>
		</div>
	</div>
	<div>
		<h5 class="ticket-sub">Total Earnings:  ${{totalEarnings}}</h5>
	</div>
	</md-card-content>
	<!-- <a [routerLink]="['../event/details', '8888']">
			<div class="event-name">Event Name Here</div>
			<div class="event-date">March 10, 2017  9 PM</div>
			<md-card-title class="event-title">{{event.basicDetails.name | truncate:60}}</md-card-title>
	</a> -->
	<md-card-actions align="end">
	<!-- <button class="desk" md-raised-button (click)="adminEvent(event)" [disabled]="true">Event Administration</button>
	<button class="desk" md-raised-button (click)="editEvent(event)">Edit Event</button>
	<button class="desk" md-raised-button (click)="attendees(event)">Attendees</button>
	<button class="desk" md-raised-button (click)="notifications(event)">Notifications</button>
	<button class="desk" md-raised-button (click)="deleteEvent(event)">Delete</button> -->
	<div class="desk">
	  <button title="Event Administration" (click)="adminEvent(event)" [disabled]="true">
    <md-icon>dialpad</md-icon>

  </button>
  <button title="Edit Event" (click)="editEvent(event)">
    <md-icon>edit</md-icon>

  </button>
  <button title="Attendees" (click)="attendees(event)">
    <md-icon>people</md-icon>

  </button>
  <button title="Event Notifications" (click)="notifications(event)">
    <md-icon>markunread</md-icon>

  </button>
  <button title="Delete Event" (click)="deleteEvent(event)">
    <md-icon>delete</md-icon>

  </button>
  </div>
<div class="mobile">
<button md-icon-button [mdMenuTriggerFor]="menu">

  <md-icon>more_vert</md-icon>
</button>
<md-menu #menu="mdMenu">

  <button md-menu-item (click)="adminEvent(event)" [disabled]="true">
    <md-icon>dialpad</md-icon>
    <span>Event Administration</span>
  </button>
  <button md-menu-item (click)="editEvent(event)">
    <md-icon>edit</md-icon>
    <span>Edit Event</span>
  </button>
  <button md-menu-item (click)="attendees(event)">
    <md-icon>people</md-icon>
    <span>Attendees</span>
  </button>
  <button md-menu-item (click)="notifications(event)">
    <md-icon>markunread</md-icon>
    <span>Notifications</span>
  </button>
  <button md-menu-item (click)="deleteEvent(event)">
    <md-icon>delete</md-icon>
    <span>Delete</span>
  </button>
</md-menu>
</div>
	</md-card-actions>
	</md-card>
</div>
