.event-ticket {
    .event-venue {
        margin-bottom: 5px;
        font-size: 1.4em;
    }

    .event-title {
        margin-bottom: 10px;
    }

    .event-date {
        margin-bottom: 10px;
    }

    .description {}

    .ticket-sub {

        margin-top: 25px;
        margin-bottom: 20px;

    }

    .tickets {
    	padding-top:5px;
    	padding-bottom:5px;
        .ticket-details {
            .ticket-desc {

            }

            .ticket-cost {}

            .tickets-available {}
        }

        &:nth-child(odd) {
            background-color: #f1f1f1;
            margin-left: -25px;
            margin-right: -25px;
            padding: 5px 25px;
        }
        &:nth-child(even) {
            background-color: #f7f7f7;
            margin-left: -25px;
            margin-right: -25px;
            padding: 5px 25px;
        }
    }
}
