.es {
    .event-share-small {
        height: 0px;
        position: relative;
        top: -50px;
        margin-left: -15px;
        margin-right: -15px;

        .share-inner {
            height: 50px;
            background-color: #FFF;
            width: 88%;
            margin-left: 25px;
            margin-right: 25px;
        }

        button {
            border: none;
        }
    }

    .event-share-large {
        .share-inner {
            height: 50px;
            background-color: #FFF;
            width: 88%;
            margin-left: 25px;
            margin-right: 25px;
        }

        button {
            border: none;
        }
    }

    .sb {
        button {
            display: none;
        }
    }
}
