<div class="es">
<div class="event-share-large">
   <md-card *ngIf="size === 'l'" >
   <md-toolbar color="primary"><h4>Share</h4></md-toolbar>
   <md-card-content>
   <share-button class="sb lb" [button]='twButton' [description]="description"></share-button>
   <share-button class="sb lb" [button]='fbButton' [description]="description"></share-button>
   <share-button class="sb lb" [button]='gButton' [description]="description"></share-button>
   <share-button class="sb lb" [button]='liButton' [description]="description"></share-button>
   <span><i class="material-icons">mail</i></span>
   </md-card-content>
   </md-card>
</div>
<div class="event-share-small" *ngIf="size === 's'">
   <div class="share-inner">
      <share-button class="sb" [button]='twButton' [description]="description"></share-button>
      <share-button class="sb" [button]='fbButton' [description]="description"></share-button>
      <share-button class="sb" [button]='gButton' [description]="description"></share-button>
      <share-button class="sb" [button]='liButton' [description]="description"></share-button>
      <span><i class="material-icons">mail</i></span>
   </div>
</div>
</div>
