<div class="notifications">
	<div class="row">
		<div class="col-xs-12">
			<md-card>
			<md-toolbar color="primary">
			<h4>Notifications</h4>
			</md-toolbar>
			</md-card>
		</div>
	</div>
	<notification *ngFor="let notification of notifications" [note]=notification></notification>
	<md-card *ngIf="notifications && notifications.length === 0">
		<md-card-content>
			<p>No Notifications.</p>
		</md-card-content>
	</md-card>
</div>
