.pp-header {
    margin-top: 50px;
    margin-bottom: 30px;
    height: auto;

    // /* Small devices (tablets, 768px and up)
    // @media (min-width: 768px) {
    //     height: 300px;
    // }

    // /* Medium devices (desktops, 992px and up)
    // @media (min-width: 992px) {
    //     height: 300px;
    // }

    // /* Large devices (large desktops, 1200px and up)
    // @media (min-width: 1200px) {
    //     height: 300px;
    // }

    // .pp-banner {
    //     .holder {
    //         position: absolute;
    //         text-align: left;
    //         width: 100%;
    //         bottom: 95px;

    //         @media (min-width: 768px) {
    //             bottom: 120px;
    //         }

    //         /* Medium devices (desktops, 992px and up) */
    //         @media (min-width: 992px) {
    //             bottom: 150px;
    //         }

    //         h2 {
    //             margin-bottom: 0;
    //             font-size: 0.7em;
    //             padding: 0.5em 0.5em 0.5em 15px;
    //             position: relative;

    //             //text-align: center;
    //             left: 0px;
    //             color: #fff;
    //             opacity: 1;

    //             //background-color:rgba(0,0,0,0.75);
    //             text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
    //             text-transform: uppercase;

    //             /* Small devices (tablets, 768px and up) */
    //             @media (min-width: 768px) {
    //                 font-size: 1.3em;
    //             }

    //             /* Medium devices (desktops, 992px and up) */
    //             @media (min-width: 992px) {
    //                 font-size: 2em;
    //             }

    //             /* Large devices (large desktops, 1200px and up) */
    //             @media (min-width: 1200px) {
    //                 font-size: 2em;
    //             }
    //         }

    //         h3 {
    //             margin-bottom: 0;
    //             font-size: 1em;
    //             padding: 0.5em 0.5em 0.5em 0.5em;
    //             position: relative;

    //             //text-align: center;
    //             color: #fff;
    //             opacity: 1;

    //             //background-color:rgba(0,0,0,0.75);
    //             text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
    //             text-transform: uppercase;
    //         }

    //         p {
    //             margin-bottom: 0;
    //             font-size: 1em;
    //             padding: 0em 0.5em 1em 0.5em;
    //             position: relative;
    //             z-index: 9999;
    //             text-align: center;
    //             color: #fff;
    //             text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
    //             font-weight: bold;

    //             //background-color:rgba(0,0,0,0.75);
    //             text-transform: uppercase;
    //         }

    //         .container {
    //             &.single {
    //                 height: auto;
    //                 position: absolute;
    //                 left: 0px;
    //                 right: 0px;

    //                 //bottom: 90px;

    //                 h2 {
    //                     font-size: 1.7em;

    //                     /* Small devices (tablets, 768px and up) */
    //                     @media (min-width: 768px) {
    //                         font-size: 2.3em;
    //                     }

    //                     /* Medium devices (desktops, 992px and up) */
    //                     @media (min-width: 992px) {
    //                         font-size: 3em;
    //                     }

    //                     /* Large devices (large desktops, 1200px and up) */
    //                     @media (min-width: 1200px) {
    //                         font-size: 3em;
    //                     }
    //                 }
    //             }

    //             &.double {
    //                 height: auto;
    //                 position: absolute;

    //                 // bottom: 168px;
    //                 left: 0px;
    //                 right: 0px;

    //                 // /* Small devices (tablets, 768px and up)
    //                 //    @media (min-width: 768px) {
    //                 //        bottom:80px;
    //                 //    }

    //                 //    /* Medium devices (desktops, 992px and up)
    //                 //    @media (min-width: 992px) {
    //                 //        bottom:20px;
    //                 //    }

    //                 h2 {
    //                     font-size: 1.7em;

    //                     /* Small devices (tablets, 768px and up) */
    //                     @media (min-width: 768px) {
    //                         font-size: 2.3em;
    //                     }

    //                     /* Medium devices (desktops, 992px and up) */
    //                     @media (min-width: 992px) {
    //                         font-size: 3em;
    //                     }

    //                     /* Large devices (large desktops, 1200px and up) */
    //                     @media (min-width: 1200px) {
    //                         font-size: 3em;
    //                     }
    //                 }

    //                 h3 {
    //                     font-size: 1em;
    //                     margin-top: 0px;
    //                     padding-top: 0px;

    //                     /* Small devices (tablets, 768px and up) */
    //                     @media (min-width: 768px) {
    //                         font-size: 1.5em;
    //                     }

    //                     /* Medium devices (desktops, 992px and up) */
    //                     @media (min-width: 992px) {
    //                         font-size: 2em;
    //                     }

    //                     /* Large devices (large desktops, 1200px and up) */
    //                     @media (min-width: 1200px) {
    //                         font-size: 2em;
    //                     }
    //                 }
    //             }
    //         }
    //     }

    //     padding: 0px;

    //     img {
    //         display: block;
    //         width: 100%;
    //         max-width: 100%;
    //         height: 235px;

    //         /* Small devices (tablets, 768px and up) */
    //         @media (min-width: 768px) {
    //             height: 330px;
    //         }

    //         /* Medium devices (desktops, 992px and up) */
    //         @media (min-width: 992px) {
    //             height: 400px;
    //         }

    //         /* Large devices (large desktops, 1200px and up) */
    //         @media (min-width: 1200px) {
    //             height: 400px;
    //         }
    //     }
    // }

    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
        background-color: #000;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    .carousel .container {
        position: relative;
        z-index: 9;
    }

    .carousel-control {
        width: 50px;
        padding-top: 100px;
        font-size: 4em;
        margin-top: 0;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
        background-color: transparent;
        border: 0;
        z-index: 10;

        @media (min-width: 768px) {
            padding-top: 110px;
            font-size: 120px;
        }
    }

    .carousel-indicators {
        left: 75%;

        li {
            margin-left: 25px;
        }

        @media (min-width: 768px) {
            left: 50%;
        }
    }

    .carousel .item {
        height: 300px;

        @media (min-width: 768px) {
            height: 400px;

            //margin-top: 200px;
        }

        &.jbi {
            height: 300px;
        }
    }

    .carousel img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 120%;
        height: 500px;
        opacity: 0.6;

        &.jbii {
            height: auto;
            @media (min-width: 768px) {
                top: -200px;
            }

            @media (min-width: 992px) {
                top: -400px;
            }
        }
    }

    .carousel-caption {
        text-align: left;
        background-color: transparent;
        position: static;
        max-width: 650px;
        padding: 0 35px;
        margin-top: 50px;

        @media (min-width: 500px) {
            padding: 0 50px;
        }

        @media (min-width: 768px) {
            margin-top: 100px;
            padding: 0 50px;
        }

        &.jbc {
            max-width: 100%;
            margin-top: 70px;

            @media (min-width: 768px) {
                //font-size: 3em;
            }
        }
    }

    .carousel-caption h1,
    .carousel-caption .lead {
        margin-bottom: 20px;
        line-height: 1.25;
        color: #fff;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
        font-weight: 400;
    }

    .carousel-caption .btn {
        margin-top: 10px;
    }

    h1 {
        font-size: 2em;

        @media (min-width: 768px) {
            font-size: 3em;
        }
    }

    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
        text-align: center;
    }

    .marketing h2 {
        font-weight: normal;
    }

    .marketing .span4 p {
        margin-left: 10px;
        margin-right: 10px;
    }

    .jumbotron {
        padding: 0;
        margin: 0;
        height: 300px;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

        .container {
            z-index: 100;
        }
    }
}
