<div class="pp-header" *ngIf="hs.headerType === 'car'">

<!-- 	<div class="col-sm-12 pp-banner" *ngIf="hs.headerType !== 'car'">
		<div class="holder">
		<div class="container single" *ngIf="hs.headerType === 'single'">
		<h2>{{hs.headerTitle}}</h2>
		</div>
		<div class="container double" *ngIf="hs.headerType === 'double'">
		<h2>{{hs.headerTitle}}</h2>
		<h3>{{hs.subTitle}}</h3>
		</div>
		</div>
		<img src="assets/images/header-small.png">
	</div> -->

    <!-- <div class="jumbotron" *ngIf="hs.headerType !== 'car'"> -->
      <!-- <img src="assets/images/concert-image.jpeg"> -->
      <!-- <div class="container">
        <h1>{{hs.headerTitle}}</h1>
          <p *ngIf="hs.headerType === 'double'">{{hs.subTitle}}</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div> -->
  <!--         <div id="myCarousel" class="carousel slide jb">
      <div class="carousel-inner">
        <div class="item active jbi">
          <img class="jbii" src="assets/images/concert-image.jpeg">
          <div class="container">
            <div class="carousel-caption jbc">
              <h1>{{hs.headerTitle}}</h1>
              <p class="lead">{{hs.subTitle}}</p>

            </div>
          </div>
        </div>

      </div>

    </div>
    </div> -->
	<!-- <css-carousel *ngIf="hs.headerType === 'car'"></css-carousel> -->
<!-- Carousel
    ================================================== -->
    <div id="myCarousel" *ngIf="hs.headerType === 'car'" class="carousel slide">
      <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>

  </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="assets/images/concert-image.jpeg">
          <div class="container">
            <div class="carousel-caption">
              <h1>Join Now</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a (click)="openCustom()"><button class="btn btn-large" md-raised-button>Register</button></a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="assets/images/concert-image-2.jpeg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Events</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a [routerLink]="['/events']"><button class="btn btn-large" md-raised-button>View Events</button></a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="assets/images/create-event.jpeg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Get Paid to Party.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a [routerLink]="['/events']"><button class="btn btn-large" md-raised-button>How It Works</button></a>
            </div>
          </div>
        </div>
      </div>
   <!--    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a> -->
    </div><!-- /.carousel -->
</div>


