.favorites-page {

    .favorites-left {
        background-color: #F5F5F5;

        @media (min-width: 768px) {
            background-color: #FFF;
        }

        @media (min-width: 992px) {}

        @media (min-width: 1200px) {}
    }

    .favorites-right {
        background-color: #F5F5F5;

        @media (min-width: 768px) {
            background-color: #FFF;
        }

        @media (min-width: 992px) {
            background-color: #FFF;
        }
    }

    .favorites-bottom {
        @media (min-width: 768px) {
            margin-top: 40px;
        }
    }

    .favorite-list {
        padding: 0px;
    }
}
