<div class="favorites-page page">
	<div class="row">
		<div class="col-xs-12">
			<md-card>
			<md-toolbar color="primary">
			<h3>Saved Events</h3>
			</md-toolbar>
			</md-card>
		</div>
	</div>
	<div>
		<div class="col-xs-12 favorite-list" *ngIf="favorites && loaded">
			<event-block class="favorites" *ngFor="let favorite of favorites" [eventdetails]="favorite" [favorite]='true'></event-block>
		</div>
		<md-card *ngIf="!loaded">
				<div class="small-loader small"></div>
		</md-card>
	</div>
</div>
