<md-card class="notification" *ngIf="(notification.type === 'General')">
   <md-card-header class="note-header">
   <i class="material-icons" md-card-avatar>markunread_mailbox</i>
      <md-card-title>{{notification.last_updated}}</md-card-title>
      <md-card-subtitle>{{notification.messages}}</md-card-subtitle>
   </md-card-header>
</md-card>

<md-card class="notification" *ngIf="(notification.type === 'Event')">
   <md-card-header class="note-header">
   <i class="material-icons" md-card-avatar>markunread_mailbox</i>
      <md-card-title>{{notification.last_updated}}</md-card-title>
      <md-card-subtitle>{{notification.messages}}</md-card-subtitle>
   </md-card-header>
</md-card>

<md-card class="notification" *ngIf="(notification.type === 'Promoter')">
   <md-card-header class="note-header">
   <i class="material-icons" md-card-avatar>markunread_mailbox</i>
      <md-card-title>{{notification.last_updated}}</md-card-title>
      <md-card-subtitle>{{notification.messages}}</md-card-subtitle>
   </md-card-header>
</md-card>

