.event-details-page {

    .details-left {
        @media (min-width: 768px) {
        }

        @media (min-width: 992px) {}

        @media (min-width: 1200px) {}

        .event-image {
            @media (min-width: 768px) {
                margin-bottom: 30px;
            }

            @media (min-width: 992px) {}

            @media (min-width: 1200px) {}

            img {
                width: 100%;

                @media (min-width: 768px) {}

                @media (min-width: 992px) {}

                @media (min-width: 1200px) {}
            }
        }

        md-card{
            width:100%;
            img {
                width: 100%;
            }
            .event-header{
                height:auto;
            }
            padding-bottom: 0px;
        }
    }

    .details-right {

        // .event-date {
        //     font-size: 14px;
        //     margin-top: 10px;
        // }
        .event-name {
            margin-bottom: 15px;
        }
        // .event-price {
        //     font-size: 30px;
        // }
        // .event-address{
        //     margin-top:10px;
        // }

        // .event-venue {
        //     margin-top: 10px;
        //     font-size: 1.3em;
        // }
        // .event-description {
        //     margin-top: 10px;
        // }
    }

    .map {
        margin-top: 15px;
    }
     google-map {display:block; margin-bottom: 15px; width: 100%; height: 400px;}
}
