<div class="event-details-page page">
	<div class="small-loader small" *ngIf="!loaded"></div>
	<div class="row" *ngIf="event && loaded">
		<div class="col-sm-5 details-left">
			<md-card>
			<md-toolbar color="primary" class="event-title-bar ed">
			<span class="event-icon"><i md-card-avatar class="material-icons md-36">accessibility</i></span>
			<!-- This fills the remaining space of the current row -->
			<span class="example-fill-remaining-space event-cat"><h4>{{event.basicDetails.category}}</h4></span>
			<span class="event-price"></span>
			</md-toolbar>
			<md-card-content>
			<div class="image-container" md-card-image>
				<img src="/uploads/{{event.basicDetails.image}}">
			</div>
			</md-card-content>
			</md-card>
			<share class="desk"></share>
			<event-organizer [promoter]="event.organizer" class='desk'></event-organizer>
		</div>
		<div class="col-sm-7 details-right">
			<md-card>
			<div class="row">
				<div class="col-md-12 event-name"><h4>{{event.basicDetails.name}}</h4></div>
				<div class="col-md-12 event-venue"><h5>@ {{event.basicDetails.venue}}</h5></div>
			</div>
			<md-card-content>
			<div class="row event-date">
				<div class="col-xs-12"><h6>{{event.basicDetails.startDate | amDateFormat:'MMM DD YYYY hh:mm A'}} - {{event.basicDetails.endDate | amDateFormat:'MMM DD YYYY hh:mm A'}} </h6></div>
			</div>
			<div class="event-address"><h6>{{event.location.address}}, {{event.location.city}}, {{event.location.province}} <span class="action-link" (click)="toggleMap()">( View Map )</span></h6></div>
			<div class="map" *ngIf="showMap">
				<div class="gmap">
					<sebm-google-map [latitude]="event.location.geo.coordinates[1]" [longitude]="event.location.geo.coordinates[0]">
					<sebm-google-map-marker [latitude]="event.location.geo.coordinates[1]" [longitude]="event.location.geo.coordinates[0]"></sebm-google-map-marker>
					</sebm-google-map>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="event-description"><p>{{event.basicDetails.description}}</p></div>
			</div>
		</div>
		</md-card-content>
		</md-card>
		<event-organizer [promoter]="event.organizer" class='mobile'></event-organizer>
		<ticket-list [tickets]="event.tickets"></ticket-list>
		<share class="mobile"></share>
	</div>
</div>
</div>
