.event-create-page {
    margin: 0px;

    .page-headers {
        padding-left: 40px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .event-placeholder {
        background-color: #A8A8A8;
        width: 100%;
        max-height: 500px;

        @media (min-width: 768px) {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        img {
            width: 100%;
        }
    }

    .event-create-left {
        padding-left: 0px;
        padding-right: 0px;
        @media (min-width: 768px) {
            background-color: #FFF;
            padding-left: 10px;
            padding-right: 0px;
        }


        .event-details {
            padding-top: 10px;

            @media (min-width: 768px) {
                margin-bottom: 30px;
            }

            .event-venue {
                margin-top: 10px;
                font-weight: medium;
            }

            .event-location {
                margin-top: 7px;
                font-weight: medium;
            }

            .event-address {
                margin-top: 7px;
                font-weight: medium;
            }

            .map {
                margin-top: 7px;
                margin-bottom: 15px;
            }
        }
    }

    .event-create-right {
        padding: 0px;

        @media (min-width: 768px) {
            background-color: #FFF;
            padding-right: 20px;
        }

        @media (min-width: 992px) {
            background-color: #FFF;
        }

        .ticket-form {
            .ticket-form-left {
                text-align: left;
                padding-top: 15px;
                label.control-label {
                    display: inline-block;
                    margin-left: 20px;
                }

                .controls.selection {
                    display: inline-block;
                }

                label.radio {
                    position: relative;
                    margin-top: 5px;
                    display: inline-block;
                    margin-left: 30px;

                    input {
                        margin-top: -7px;
                    }
                }

                .radio span {
                    padding-right: 0px;
                }
            }

            .ticket-form-right {
                margin-bottom: 15px;
                input{

                }

                textarea {
                    margin-top: 15px;
                    width: 100%;
                    //height: 150px;
                }

                .tick-row {
                    margin-top: 15px;
                }

            }
        }

        .create-form {
            padding-top: 15px;
        }
    }

    .submit-button {
        text-align: right;
    }
   .ac {
            margin: 15px 0 15px 0;
        }

}
