<div class="p2p-page page">
	<div class="row">
		<div class="col-xs-12">
			<md-card>
			<md-toolbar color="primary">
			<h3>Create Event Page</h3>
			</md-toolbar>
			</md-card>
		</div>
	</div>
	<div class="row event-create-page">
		<div class="col-xs-12 col-md-5 col-md-push-7 event-create-left">
			<md-card class="demo-card demo-basic">
			<md-toolbar color="primary"><h4>Event Image</h4></md-toolbar>
			<md-card-content>
			<div class="event-placeholder" *ngIf="uploadedImage !== 'false'">
				<img src="/uploads/{{uploadedImage}}"/>
			</div>
			</md-card-content>
			<md-card-actions>
			<input type="file"
			name="sample"
			ngFileSelect
			[options]="options"
			(onUpload)="handleUpload($event)"
			(beforeUpload)="beforeUpload($event)"
			*ngIf="uploadedImage === 'false'"></md-card-actions>
			<button md-raised-button *ngIf="uploadedImage !== 'false'" (click)="removeImage()">Remove</button>
			</md-card>
		</div>
		<div class="col-xs-12 col-md-7 col-md-pull-5 event-create-right">
			<md-card class="demo-card demo-basic">
			<md-toolbar color="primary"><h4>Event Details</h4></md-toolbar>
			<md-card-content>
			<!-- 		<div class="row">
				<div class="col-xs-12 section-title balance">
							<div class="col-xs-6 col-sm-12 title">Event Details</div>
							<div class="col-xs-6 link"></div>
				</div>
			</div> -->
			<div class="row">
				<div class="col-xs-12 create-form">
					<form [formGroup]="createForm" novalidate>
						<div class="row">
							<div class="col-xs-12">
								<md-input-container>
								<input mdInput type="text" placeholder="Event Name" name="" formControlName="name" dividerColor="primary">
								</md-input-container>
							</div>
							<div class="col-xs-12">
								<md-input-container>
								<input mdInput type="text" placeholder="Event Venue" name="" formControlName="venue">
								</md-input-container>
							</div>
							<div class="col-xs-12">
								<md-input-container>
								<input mdInput type="text" placeholder="Description" name="" formControlName="description">
								</md-input-container>
							</div>
							<div class="col-md-12">
								<div class="col-xs-6 nopad">
									<datetime [timepicker]="false" [datepicker]="{placeholder:'Start Date'}"  class="reg" placeholder="abb" formControlName="startDate"></datetime>
								</div>
								<div class="col-xs-6 nopad">
									<datetime [datepicker]="false" [timepicker]="{placeholder:'Start Time'}" class="reg" placeholder="abb" formControlName="startTime"></datetime>
								</div>
							</div>
							<div class="col-md-12">
								<div class="col-xs-6 nopad">
									<datetime [timepicker]="false" [datepicker]="{placeholder:'End Date'}"  class="reg" placeholder="abb" formControlName="endDate"></datetime>
								</div>
								<div class="col-xs-6 nopad">
									<datetime [datepicker]="false" [timepicker]="{placeholder:'End Time'}" class="reg" placeholder="abb" formControlName="endTime"></datetime>
								</div>
							</div>
							<div class="col-xs-12">
								<md-toolbar class="ac" color="primary"><h4>Location</h4></md-toolbar>
								<p>Type your event address into the field below and we will populate the rest.</p>
								<md-input-container>
								<input mdInput type="text"
								[options]='geoOptions'
								(setAddress) = "getAddress($event)"
								(city)= 'city=$event'
								(state)='state=$event'
								(district)='district=$event'
								(country)='country=$event'
								(lat)='lat=$event'
								(lng)='lng=$event'
								placeholder="Location"
								id="autocomplete"
								ng2-google-place-autocomplete/>
								</md-input-container>
								<md-input-container>
								<input mdInput type="text" #addInput placeholder="Venue Address" name="" formControlName="address" >
								</md-input-container>
							</div>
							<div class="col-xs-12">
								<md-input-container>
								<input mdInput type="text" placeholder="Country" name="country" formControlName="country">
								</md-input-container>
							</div>
							<div class="col-xs-12">
								<md-input-container>
								<input mdInput type="text" placeholder="Province / State" name="province" formControlName="province">
								</md-input-container>
							</div>
							<div class="col-xs-12" >
								<md-input-container>
								<input mdInput type="text" placeholder="City" name="city" formControlName="city">
								</md-input-container>
							</div>
							<div class="col-xs-12">
								<md-input-container>
								<input mdInput type="text" placeholder="Postal / ZIP" name="" formControlName="postal">
								</md-input-container>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-md-6">
								<md-select placeholder="Category" formControlName="category" name="category">
								<md-option *ngFor="let category of categories" [value]="category.value">
								{{category.name}}
								</md-option>
								</md-select>
							</div>
							<div class="col-xs-12 col-md-6">
								<md-select #forRes placeholder="Promoter" formControlName="organizer" name="organizer" (change)="promoterChange($event)">
								<md-option *ngFor="let organizer of organizers" [value]="organizer._id">
								{{organizer.email}}
								</md-option>
								</md-select>
							</div>
						</div>
					</form>
				</div>
			</div>
			</md-card-content>
			<md-card-actions align="end">
			</md-card-actions>
			</md-card>
			<md-card class="demo-card demo-basic" [hidden]="!showPromoter">
			<md-toolbar color="primary" class="section-title">
			<span><h4>Add Promoter</h4></span>
			<!-- This fills the remaining space of the current row -->
			<span class="example-fill-remaining-space"></span>
			<span class="toolbar-icon" (click)="showPromoter = false" title="Add Ticket"><i class="material-icons">clear</i></span>
			</md-toolbar>
			<md-card-content>
			<div class="row">
				<form [formGroup]="promoterForm">
					<div class="col-sm-12 promoter-form">
						<div class="row">
							<div class="col-xs-12 col-md-6">
								<md-input-container>
									<input mdInput type="text" placeholder="First Name" name="" formControlName="first">
								</md-input-container>
							</div>
							<div class="col-xs-12 col-md-6">
								<md-input-container>
									<input mdInput type="text" placeholder="Last Name" name="" formControlName="last">
								</md-input-container>
							</div>
							<div class="col-xs-12">
								<md-input-container class="example-full-width">
									<textarea mdInput placeholder="Promoter Description" formControlName="description"></textarea>
								</md-input-container>
							</div>
							<div class="col-xs-12 col-md-6">
								<md-input-container>
									<input mdInput type="text" placeholder="Email" name="" formControlName="email">
								</md-input-container>
							</div>
							<div class="col-xs-12 col-md-6">
								<md-input-container>
									<input mdInput type="text" placeholder="Phone" name="" formControlName="phone">
								</md-input-container>
							</div>
							<div class="col-xs-12 col-md-6">
								<md-input-container>
									<input mdInput type="text" placeholder="Organization" name="" formControlName="organization">
								</md-input-container>
							</div>
							<div class="col-xs-12 col-md-6">
								<md-input-container>
									<input mdInput type="text" placeholder="Affiliation" name="" formControlName="affiliation">
								</md-input-container>
							</div>
							<div class="col-xs-12 col-md-6">
								<md-input-container>
									<input mdInput type="text" placeholder="Facebook" name="" formControlName="socialFb">
								</md-input-container>
							</div>
							<div class="col-xs-12 col-md-6">
								<md-input-container>
									<input mdInput type="text" placeholder="Twitter" name="" formControlName="socialTw">
								</md-input-container>
							</div>
							<div class="col-xs-12 col-md-6">
								<md-input-container>
									<input mdInput type="text" placeholder="Linkedin" name="" formControlName="socialLi">
								</md-input-container>
							</div>
							<div class="col-xs-12 col-md-6">
								<md-input-container>
								<input mdInput type="text" placeholder="Google+" name="" formControlName="socialG">
								</md-input-container>
							</div>
							<div class="col-xs-12 col-md-6">
								<md-input-container>
								<input mdInput type="text" placeholder="Instagram" name="" formControlName="socialIns">
								</md-input-container>
							</div>
							<div class="col-xs-12 submit-button"><button md-raised-button color="primary" (click)="addPromoter()">Add Promoter</button></div>
						</div>
					</div>
				</form>
			</div>
			</md-card-content>
			</md-card>
			<md-card class="profits">
			<md-toolbar color="primary" class="section-title">
			<span><h4>Tickets</h4></span>
			<!-- This fills the remaining space of the current row -->
			<span class="example-fill-remaining-space"></span>
			<span class="toolbar-icon" (click)="toggleTicket()" title="Add Ticket"><i class="material-icons">add</i></span>
			</md-toolbar>
			</md-card>
			<md-card class="demo-card demo-basic" [hidden]="!showTicket">
			<md-toolbar color="primary"><h4>Create Ticket</h4></md-toolbar>
			<md-card-content>
			<div class="row">
				<div class="col-xs-12 ticket-form nopad">
					<form [formGroup]="ticketForm">
						<div class="col-sm-12 ticket-form-left">
							<md-radio-group formControlName="category">
							<md-radio-button value="Paid" name="symbol" checked="true">Paid</md-radio-button>
							<md-radio-button value="Free">Free</md-radio-button>
							<md-radio-button value="Donation">Donation</md-radio-button>
							</md-radio-group>
						</div>
						<div class="col-sm-12 ticket-form-right">
							<div class="row">
								<div class="col-xs-12">
									<md-input-container class="example-full-width">
									<textarea mdInput placeholder="Ticket Description" formControlName="description"></textarea>
									</md-input-container>
								</div>
							</div>
							<div class="row tick-row">
								<div class="col-xs-12 col-sm-4">
									<md-input-container>
									<input mdInput type="text" type="number" min="0" placeholder="Price" name="" formControlName="cost">
									<span md-prefix>$&nbsp;</span>
									</md-input-container>
								</div>
								<div class="col-xs-12 col-sm-4">
									<!-- <ng2-select class="ticket-form" [placeholder]="'Currency'"
									[displayBy]="'name'"
									[selectedDisplayBy]="'value'"
									[options]="currencies"
									formControlName="currency">
									</ng2-select> -->
									<md-select placeholder="Currency" formControlName="currency" name="currency">
									<md-option *ngFor="let currency of currencies" [value]="currency.value">
									{{currency.value}}
									</md-option>
									</md-select>
								</div>
								<div class="col-xs-12 col-sm-4">
									<md-input-container>
									<input mdInput  type="number" min="0" placeholder="Qty" name="" formControlName="qty">
									</md-input-container>
								</div>
							</div>
							<div class="col-xs-12 submit-button"><button md-raised-button color="primary" (click)="addTicket()">Add ticket</button></div>
						</div>
					</form>
				</div>
			</div>
			</md-card-content>
			</md-card>
			<div class="" *ngIf="tickets.length > 0">
				<ticket-list [tickets]="tickets" isCreate="true" ></ticket-list>
			</div>
			<div class="col-sm-12 submit-button mtop">
				<button md-raised-button color="primary" (click)="publish('draft')">Save Draft</button>
				<button md-raised-button color="primary" [disabled]="!createForm.valid" (click)="publish('published')">Publish</button>
			</div>
		</div>
	</div>
</div>
