<div class="row categories" *ngIf="catType === 'list'">
	<div class="col-xs-12 col-sm-6 col-md-4 category-image">
		<a [routerLink]="['/events', 'Dances']">
			<img src="assets/images/category-dances.jpg">
			<h2>Dances & Parties</h2>
		</a>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 category-image">
		<a [routerLink]="['/events', 'Sports']">
			<img src="assets/images/category-sports.jpg">
			<h2>Sports</h2>
		</a>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 category-image">
		<a [routerLink]="['/events', 'Theatre']">
			<img src="assets/images/category-theatre.jpg">
			<h2>Theatre</h2>
		</a>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 category-image">
		<a [routerLink]="['/events', 'Business']">
			<img src="assets/images/category-bus.jpg">
			<h2>Business & Networking</h2>
		</a>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 category-image">
		<a [routerLink]="['/events', 'Concerts']">
			<img src="assets/images/category-concert.jpg">
			<h2>Concerts & Music</h2>
		</a>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 category-image">
		<a [routerLink]="['/events', 'Other']">
			<img src="assets/images/category-other.jpg">
			<h2>Other</h2>
		</a>
	</div>
</div>


<div class="row categories cat-select" *ngIf="catType === 'select'">
	<div class="col-xs-12 col-sm-6 col-md-4 category-image" *ngFor="let category of categories" (click)="toggleSelected(category)">
		<div>
			<img [ngClass]="{'full':category.selected}" src="{{category.image}}">
			<h2>{{category.name}}</h2>
		</div>
	</div>
	<div class="col-xs-12 t-right">
		<button class="btn-top" md-raised-button (click)="setInterests()">Set Interests</button>
	</div>
</div>
