.categories {
	margin-bottom: 20px;
	@media (min-width: 768px) {
		padding:0 10px 0 10px;
    }
    .category-image {
    	cursor: pointer;
    	@media (min-width: 768px) {
        	margin-bottom:30px;
    	}
    	a, div {
    		background-color: #000;
	        img {
	        	opacity: 1;
	        	position:relative;
	            width: 100%;
	        }

	        h2 {
	        	color:#FFF;
	        	font-size:24px;
	            position: absolute;
	            top: 30%;
	            text-align:center;
	            left: 0;
	            width: 100%;

				text-shadow: 0px 4px 4px #000000;
	        }
    	}


    }

    &.cat-select {
		.category-image {
    	cursor: pointer;
    	@media (min-width: 768px) {
        	margin-bottom:30px;
    	}
    	a, div {
    		background-color: #000;
	        img {

	        	opacity: 0.3;
	        	position:relative;
	            width: 100%;
	            &.full {
    				opacity:1;
    			}
	        }
    	}

    }
    }
}
