<div class="interests-page page">
<div class="row">
		<div class="col-xs-12">
			<md-card>
			<md-toolbar color="primary">
			<h3>Interests</h3>
			</md-toolbar>
			</md-card>
		</div>
	</div>
<div class="row">
	<div class="col-xs-12 copy">
		<p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent congue, libero et hendrerit luctus, leo augue vulputate dolor, finibus sagittis enim leo a neque. Nulla ullamcorper nibh vel aliquam fermentum. Vivamus facilisis, orci ut lacinia pretium, elit nunc tempus diam, et interdum nulla ante non felis. Curabitur placerat ex sed bibendum suscipit.</p>
		<p class="instructions">Click a category to select / unselect it</p>
	</div>
</div>
<div class="row">
	<categories [catType]="'select'"></categories>
</div>
</div>
