.interests-page {
    .copy {

        margin-bottom:20px;

        @media (min-width: 768px) {

            margin-bottom:40px;
        }

        @media (min-width: 992px) {}

        @media (min-width: 1200px) {}

        .instructions {
            font-weight: bold;
        }

    }

}
