<div class="event-block col-xs-12 col-sm-6 col-md-4">

  <md-card class="event-card">
  <md-toolbar color="primary" class="event-title-bar">
  <span class="event-icon"><i md-card-avatar class="material-icons md-36">accessibility</i></span>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space event-cat">{{eventdetails.basicDetails.category}}</span>
  <span class="event-price">{{getBestPrice(eventdetails.basicDetails.tickets)}}</span>
  </md-toolbar>
  <div class="image-container" md-card-image >
    <a [routerLink]="['/event/details/', eventdetails._id ]"><img src="/uploads/{{eventdetails.basicDetails.image}}"></a>
  </div>
  <a [routerLink]="['/event/details/', eventdetails._id ]">
  <md-card-content class="card-height">
    <div class="row event-date">
    <div class="col-md-6">{{eventdetails.location.city}}, {{eventdetails.location.province}}</div>
    <div class="col-md-6 t-right">{{eventdetails.basicDetails.startDate | amDateFormat:'LL'}}</div>
  </div>
  <div class="event-title">{{eventdetails.basicDetails.name | truncate:60}}</div>
  <div class="event-venue">{{eventdetails.basicDetails.venue  | truncate:80}}</div>
  <div class="description">{{eventdetails.basicDetails.description | truncate:170}}</div>
  </md-card-content>
    </a>

  <md-card-actions>
  <div class="row">
  <share [hidden]="!share" [size]="'s'"></share>
    <div class="col-md-6 nopad icon-holder">
      <div class="block-icon"><i class="material-icons" (click)="toggleShare()">share</i></div>
      <div class="block-icon"><i (click)="setFavorite(eventdetails)" [ngClass]="{'red': favorited}" class="material-icons">favorite</i></div>
    </div>
    <div class="col-md-6 t-right nopad">

    </div>
  </div>
  </md-card-actions>
  </md-card>

</div>
