.event-block {

    height: 610px;
    padding: 10px 15px;
    background-color: #FFF;
    margin-bottom: 20px;

    a {
        text-decoration: none;
    }

    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) {
        background-color: #FFF;
        border-bottom: none;
        height: 620px;
        margin-bottom: 10px;
    }

    /* Medium devices (desktops, 992px and up) */
    @media (min-width: 992px) {}

    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {}

    .event-title-bar {
        height: 35px;
        font-size: 1.2em;
        span {
            position:relative;
        }
        .event-icon {
            i {
                position: relative;
                left: -8px;
            }
        }

        .event-cat {
            padding-left: 10px;
            top: -3px;
        }

        .event-price {
            top: -3px;
        }

        &.ed {
            height: 55px;
        }
    }

    .event-header {
        height: 30px;
        width: 100%;
    }

    .icon-holder {
        padding-left: 15px;

        .block-icon {
            display: inline;
            width: 40px;
            padding: 5px;
            margin-right: 10px;

            i {
                font-size: 30px;
            }
        }
    }

    .image-container {
        overflow: hidden;
        height: 225px;

        img {
            top: -50px;
            width: 100%;
            overflow-x: hidden;
            vertical-align: middle;
        }
    }

    .event-title {
        max-height: 50px;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .event-image {
        display: none;
        padding-right: 0px;

        @media (min-width: 768px) {
            display: block;
        }

        /* Medium devices (desktops, 992px and up) */
        @media (min-width: 992px) {}

        /* Large devices (large desktops, 1200px and up) */
        @media (min-width: 1200px) {}

        .placeholder {
            width: 100%;
            height: 165px;
            background-color: #D8D8D8;
        }
    }

    .card-height {
        height: 200px;

        @media (min-width: 768px) {
            display: block;
            height: 230px;
        }

        /* Medium devices (desktops, 992px and up) */
        @media (min-width: 992px) {
            height: 270px;
        }

        /* Large devices (large desktops, 1200px and up) */
        @media (min-width: 1200px) {
            height: 230px;
        }
    }

    .description {
        margin-top: 15px;
    }

    .event-date {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .event-venue {
            margin-top: 15px;
        }

    .event-details {



        .event-name {
            margin-bottom: 10px;
        }

        .event-city {
            margin-bottom: 10px;
        }

        .event-price {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .event-category {
            font-weight: bold;

            .share {
                text-align: right;
                color: #547FE2;
            }
        }


    }

    i {
        cursor: pointer;
    }
}

.red {
    color: red;
}
