.deposits-page {
    .copy {
        margin-top:20px;
        margin-bottom:20px;

        @media (min-width: 768px) {
            margin-top:40px;
            margin-bottom:40px;
        }

        @media (min-width: 992px) {}

        @media (min-width: 1200px) {}

    }
    .deposit-image {
        margin-top:40px;
        text-align:center;
    }
    .action-btn {
        margin-top:20px;
        margin-bottom:20px;

        @media (min-width: 768px) {
            margin-top:0px;
        }
    }

}
