<md-card class="profits">
      <div *ngIf="loaded">
      <md-toolbar color="primary">
      <span><h4>Available Funds</h4></span>
      <!-- This fills the remaining space of the current row -->
      <span class="example-fill-remaining-space"></span>
      <span *ngIf="funds"><h4>$ {{funds.available}}</h4></span>
      </md-toolbar>
      <md-toolbar color="primary">
      <span><h4>Funds in holding</h4></span>
      <!-- This fills the remaining space of the current row -->
      <span class="example-fill-remaining-space"></span>
      <span *ngIf="funds"><h4>$ {{funds.holding}}</h4></span>
      </md-toolbar>
      <md-toolbar color="primary">
      <span><h4>Credits</h4></span>
      <!-- This fills the remaining space of the current row -->
      <span class="example-fill-remaining-space"></span>
      <span *ngIf="funds"><h4>$ {{funds.credits}}</h4></span>
      </md-toolbar>
      </div>
      <md-card-content *ngIf="!loaded" class="center-loader">
            <div class="small-loader small"></div>
      </md-card-content>

</md-card>
