.event-dashboard-page {
    .event-dashboard-left {
        //padding-left:0px;
        @media (min-width: 768px) {
            background-color: #FFF;
        }

        @media (min-width: 992px) {}

        @media (min-width: 1200px) {}
    }

    .event-dashboard-right {}

    .event-dashboard-bottom {
        @media (min-width: 768px) {
            margin-top: 40px;
        }
    }

    .placeholder {
        width: 100%;
    }

    .ei {
        position: relative;
        top: 5px;
    }

    .ct {
        a {
            color: #fff;
        }
    }

    .active, .passise, .draft, .active {
        margin-left: 2px;
        margin-right: 2px;
    }
}
