<div class="event-dashboard-page page">
	<div class="row">
		<div class="col-xs-12">
			<md-card>
			<md-toolbar color="primary">
			<h3>Event Management Page</h3>
			</md-toolbar>
			</md-card>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4 event-dashboard-left">
			<funds-block></funds-block>
			<md-card class="ct">
			<a [routerLink]="['../create']">
				<md-toolbar color="primary">
				<span><i class="material-icons ei">control_point</i> </span>&nbsp;&nbsp;<h4>Create Event</h4>
				<!-- This fills the remaining space of the current row -->
				<!-- <span class="example-fill-remaining-space event-cat">Create Event</span>
				<span class="event-price"></span> -->
				</md-toolbar>
			</a>
			</md-card>
			<notifications [limit]="4"></notifications>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-8 event-dashboard-right">
			<md-tab-group selectedIndex="1">
			<md-tab label="Active">
			<div class="active" *ngIf="eventLoaded">
				<event-loop-dashboards *ngFor="let event of events.active" [event]="event"></event-loop-dashboards>
				<md-card *ngIf="events.active.length === 0">
				<md-card-content>
				<p>No active events.</p>
				</md-card-content>
				</md-card>
			</div>
			<md-card *ngIf="!eventLoaded">
				<div class="small-loader small"></div>
			</md-card>
			</md-tab>
			<md-tab label="Published">
			<div class="published" *ngIf="eventLoaded">
				<event-loop-dashboards *ngFor="let event of events.published" [event]="event"></event-loop-dashboards>
				<md-card *ngIf="events.published.length === 0">
				<md-card-content>
				<p>No published events.</p>
				</md-card-content>
				</md-card>
			</div>
			<md-card *ngIf="!eventLoaded">
				<div class="small-loader small"></div>
			</md-card>
			</md-tab>
			<md-tab label="Draft">
			<div class="draft" *ngIf="eventLoaded">
				<event-loop-dashboards *ngFor="let event of events.pending" [event]="event"></event-loop-dashboards>
				<md-card *ngIf="events.pending.length === 0">
				<md-card-content>
				<p>No unpublished events.</p>
				</md-card-content>
				</md-card>
			</div>
			<md-card *ngIf="!eventLoaded">
				<div class="small-loader small"></div>
			</md-card>
			</md-tab>
			<md-tab label="Finished">
			<div class="finished" *ngIf="eventLoaded"><event-loop-dashboards *ngFor="let event of events.finished" [event]="event"></event-loop-dashboards>
				<md-card *ngIf="events.finished.length === 0">
				<md-card-content>
				<p>No finished events.</p>
				</md-card-content>
				</md-card>
			</div>
			<md-card *ngIf="!eventLoaded">
				<div class="small-loader small"></div>
			</md-card>
			</md-tab>
			</md-tab-group>
		</div>
	</div>
