.tickets {
    @media (min-width: 768px) {
        margin-bottom: 30px;
    }
    .section-title {
        background-color: #FFF;
        height: 40px;
        padding-top: 10px;

        .title {
            text-align: left;
            padding-left: 0px;
        }

        .link {
            text-align: right;
            padding-right: 0px;
        }
    }

    .ticket-details {

        .ticket-desc {
            margin-top: 25px;
            padding: 0px;
        }

        .tickets-available {
            margin-top: 0px;
            padding: 0px;
        }

        .ticket-price {
            padding: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
            font-weight: bold;
            font-size: 20px;
            text-align: right;

            @media (min-width: 768px) {
                text-align: left;
            }

            @media (min-width: 992px) {}

            @media (min-width: 1200px) {}
        }

        .actions {
            padding: 0px;
            margin-top: 10px;

            .ticket-qty {
                padding: 0px;
                text-align: left;

                @media (min-width: 768px) {
                    text-align: right;
                }

                input {
                    width: 60px;
                    margin-right: 10px;
                }
            }

            .ticket-submit {
                @media (min-width: 768px) {
                    text-align: right;
                }

                padding: 0px;
                text-align: right;
            }

            margin-bottom: 20px;
        }
    }


}
