<div class="row">
	<div class="col-xs-12">
		<h5>Ticket Details</h5>
	</div>
</div>
<div class="row tickets">
	<div class="col-xs-12 ticket-details">
		<div class="col-xs-12 ticket-desc">
			<p><span>$30 (USD)</span> Ticket Type 1 Name or Description Here And Second Line if need be. </p>
		</div>
		<div class="col-xs-12 tickets-available">
			<p>30 Tickets Available</p>
		</div>
		<div class="col-xs-12 tickets-available">
			<p>30 Tickets Remaining</p>
		</div>
	</div>
	<div class="col-xs-12 ticket-details">
		<div class="col-xs-12 ticket-desc">
			<p><span>$30 (USD)</span> Ticket Type 1 Name or Description Here And Second Line if need be. </p>
		</div>
		<div class="col-xs-12 tickets-available">
			<p>30 Tickets Available</p>
		</div>
		<div class="col-xs-12 tickets-available">
			<p>30 Tickets Remaining</p>
		</div>
	</div>
	<div class="col-xs-12 ticket-details">
		<div class="col-xs-12 ticket-desc">
			<p><span>$30 (USD)</span> Ticket Type 1 Name or Description Here And Second Line if need be. </p>
		</div>
		<div class="col-xs-12 tickets-available">
			<p>30 Tickets Available</p>
		</div>
		<div class="col-xs-12 tickets-available">
			<p>30 Tickets Remaining</p>
		</div>
	</div>
	<div class="col-xs-12">
		<h5>Total Earnings:  $23,000</h5>
	</div>
</div>
