<md-card class="invite-friends">
<md-toolbar color="primary" class="section-title">
<h4>Create your network</h4>
<!-- This fills the remaining space of the current row -->
<span class="example-fill-remaining-space"></span>
<span></span>
</md-toolbar>
<md-card-content>
      <form [formGroup]="inviteForm" novalidate (ngSubmit)="inviteFriends(inviteForm.value, inviteForm.valid)">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe corrupti dolore magnam ullam eligendi perspiciatis labore voluptatum est odio ea blanditiis, voluptate iste, expedita dolorum placeat consequuntur unde minima quis.</p>
            <textarea formControlName="emailString"></textarea>
            <button md-raised-button [disabled]="!inviteForm.valid">Send Invitation</button>
      </form>
</md-card-content>
</md-card>
