<div class="account-dashboard-page page">
	<div class="row">
		<div class="col-xs-12">
			<md-card>
			<md-toolbar color="primary">
			<h3>Account Dashboard Page</h3>
			</md-toolbar>
			</md-card>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-5 account-dashboard-left">
			<funds-block></funds-block>
			<notifications [limit]="4"></notifications>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-7 account-dashboard-right">

			<md-card class="profits">
			<md-toolbar color="primary" class="section-title">
			<span><h4>My Tickets</h4></span>
			<!-- This fills the remaining space of the current row -->
			<span class="example-fill-remaining-space"></span>
			<span><a [routerLink]="['/account/my-tickets']"><h4>View All</h4></a></span>
			</md-toolbar>
			</md-card>


			<div *ngIf="tickets && ticketsLoaded">
				<tickets-dashboard *ngFor="let ticket of tickets" [ticket]="ticket[0]" [count]="ticket.qty"></tickets-dashboard>
			</div>
			<md-card *ngIf="tickets.length === 0 && ticketsLoaded">
			<md-card-content>
			<p>No Tickets Purchased</p>
			</md-card-content>
			</md-card>
			<md-card *ngIf="!ticketsLoaded">
				<div class="small-loader small"></div>
			</md-card>
			<md-card class="profits">
			<md-toolbar color="primary" class="section-title">
			<span><h4>My Saved Events</h4></span>
			<!-- This fills the remaining space of the current row -->
			<span class="example-fill-remaining-space"></span>
			<span><a [routerLink]="['/account/favorites']"><h4>View All</h4></a></span>
			</md-toolbar>
			</md-card>
			<div *ngIf="favorites && favoritesLoaded">
			<saved-events-dashboard *ngFor="let favorite of favorites" [favorite]="favorite"></saved-events-dashboard>
			</div>
			<md-card *ngIf="favoritesLoaded && favorites && favorites.length === 0">
			<md-card-content>
			<p>No Events Saved.</p>
			</md-card-content>
			</md-card>
			<md-card *ngIf="!favoritesLoaded">
				<div class="small-loader small"></div>
			</md-card>
		</div>
	</div>
</div>
