.account-dashboard-page {
    .account-dashboard-left {
        //padding-left:0px;
        @media (min-width: 768px) {
            background-color: #FFF;
        }

        @media (min-width: 992px) {}

        @media (min-width: 1200px) {}


    }

    .account-dashboard-right {
        //padding-left: 0px;
        //padding-right: 0px;

    }

    .account-dashboard-bottom {
        @media (min-width: 768px) {
            margin-top: 40px;
        }
    }
}
