.app {
    .page {
        margin-top: 70px;
    }

    textarea {
        //background-color:#f9f9f9;
    }
    color: #A8A8A8;
    font-family: AvenirNext-Regular;

    h1, h2, h3, h4, h5 {
        //font-family: AvenirNext-Bold;
        //font-weight: bold;

    }

    .t-right {
        text-align: right;
    }

    .hundo {
        width: 100%;
    }

    a {
        color: #A8A8A8;
    }

    p {
        line-height: 25px;
    }

    button {
        background-color: #FFF;
        height: 35px;
        border: none;
        margin-bottom: 20px !important;

        &.btn-top {
            margin-top: 20px;
        }
    }

    .example-fill-remaining-space {
        // This fills the remaining space, by using flexbox.
        // Every toolbar row uses a flexbox row layout.
        flex: 1 1 auto;

        &.toggle-arrow {
            position: relative;
            top: 4px;
        }
    }

    .nav-tab {
        margin-top: 25px;
        display: inline-block;
        padding: 0 5px 0 5px;
        font-size: 18px;
    }

    .page-headers {
        padding-left: 40px;
        margin-top: 30px;

        h1 {
            @media (min-width: 768px) {
                font-size: 30px;
                margin-bottom: 20px;
            }

            @media (min-width: 992px) {}

            @media (min-width: 1200px) {}
        }
    }

    .desk {
        display: none;

        @media (min-width: 768px) {
            display: block;
        }
    }

    .mobile {
        display: block;

        @media (min-width: 768px) {
            display: none;
        }
    }

    .mat-input-container, md-select {
        width: 100%;

        .md-hint {
            bottom: -10px;

            //display: block;

        }

        &.ng-valid {
            .mat-input-underline {
                border-top-width: 3px;
                border-color: #9ac393;
            }

            .ng2-dropdown-button {
                border-bottom-width: 3px;
                border-color: #9ac393;
            }
        }

        &.ng-invalid {
            .mat-input-underline {
                border-top-width: 3px;
                border-color: #ce9e9e;

                &.md-disabled {
                    background-image: linear-gradient(to right, rgb(208, 33, 33) 0%, rgba(255, 0, 0, 0.26) 33%, transparent 0%);
                }
            }

            .ng2-dropdown-button {
                border-bottom-width: 3px;
                border-color: #ce9e9e;
            }
        }

        &.ticket-form {
            margin-top: 8px;
        }
    }

    md-card {
        margin-bottom: 30px;
    }

    md-toolbar {
        padding: 0px;
        min-height: 28px;

        md-toolbar-row {
            height: 20px;
        }
    }

    // ng2-dropdown-button {
    //     background: none;
    // }

    // .ng2-dropdown-button {
    //     min-width: 100%;
    //     max-width: 100%;
    //     margin-bottom: 25px;
    // }

    .md-card-header-text {
        width: 100%;
    }

    // .ng2-dropdown-menu-container {
    //     width: 300px;
    // }

    input, button {
        //width:100%;
        // border: 1px grey solid;
        // height: 30px;
        // border-radius: 3px;

    }

    input, textarea {
        padding-left: 5px;
        width: 100%;
    }

    textarea {
        padding-left: 5px;
        width: 100%;

        // &.ng-valid[required], .ng-valid.required, .ng-valid {
        //     border: 1px solid #9ac393;
        // }

        // &.ng-invalid {
        //     border: 1px solid #ce9e9e;
        // }
    }

    .nopad {
        padding-left: 0px;
        padding-right: 0px;
    }

    .mtop {
        margin-top: 15px;
    }

    .greybg {
        background-color: #F5F5F5;
    }

    .sebm-google-map-container {
        height: 300px;
    }

    .promoter-form {

    }

    .md-card-header-text {
        height: auto;
    }

    .sction-title {
        margin-bottom: 0px;
    }

    .icon-holder {
        padding-left: 15px;

        .block-icon {
            display: inline;
            width: 40px;
            padding: 5px;
            margin-right: 10px;

            i {
                font-size: 30px;
            }
        }
    }

    .input-group {
        width: 100%;
        padding-right: 10px;

        input {
            border-radius: none;
            border-top: none;
            border-left: none;
            border-right: none;
        }
    }

    .md-radio-inner-circle {
        background-color: #9ac393;
    }

    datetime {
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;

        &.ng-valid {
            input {
                border-bottom: 1px solid #9ac393 !important;
                border-bottom-width: 2px !important;
            }
        }

        &.ng-invalid {
            input {
                border-bottom: 1px solid #ce9e9e !important;
                border-bottom-width: 2px !important;
            }
        }

        // &.reg {

        //         &.ng-valid[required], .ng-valid.required, .ng-valid {
        //             border-bottom: 1px solid #9ac393 !important;
        //             border-bottom-width:2px !important;
        //         }

        //         &.ng-invalid {
        //             border-bottom: 1px solid #e87777 !important;
        //             border-bottom-width:2px !important;
        //         }

        // }

    }

    .event-title-bar, .title-bar {
        height: 35px;
        font-size: 1.2em;
        font-weight: normal;

        span {
            position: relative;
        }

        .event-icon {
            i {
                position: relative;
                left: -8px;
            }
        }

        .event-cat {
            padding-left: 10px;
            top: -3px;
        }

        .event-price {
            top: -3px;
        }

        &.ed {
            height: 55px;
        }

        &.tb {
            font-size: 2em;
        }
    }

    .mat-select-underline {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background-color: #ababab;
    }

    .mat-toolbar {
        font-weight: normal;
    }

    .sb {
        font-size: 1.8em;
        margin-right: 25px;

        &:first-child {
            margin-left: 20px;
        }

        button {
            border: none;
        }

        &.lb {
            display: inline-block;
            font-size: 2em;

            &:first-child {
                margin-left: 0px;
                margin-top: 10px;
            }
        }
    }

    .mat-ink-bar {
        background-color: #000;
    }

    .action-link {
        color: blue;
        cursor: pointer;
    }

    .toolbar-icon {
        cursor: pointer;
    }
}
