<div class="my-network-page page">
	<div class="row">
		<div class="col-xs-12">
			<md-card>
			<md-toolbar color="primary">
			<h3>My Network</h3>
			</md-toolbar>
			</md-card>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4 account-dashboard-left">
			<invite-friends></invite-friends>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-8 account-dashboard-right">
			<md-card class="profits">
			<md-toolbar color="primary" class="section-title">
			<h4>My Downline</h4>
			</md-toolbar>
			</md-card>
			<div *ngIf="levels && loaded">
				<my-downline *ngFor="let level of levels" [levelData]="level"></my-downline>
			</div>
			<md-card *ngIf="!loaded">
			<div class="small-loader small"></div>
			</md-card>
		</div>
	</div>
</div>
