<ul class="pagination">
  <li><a (click)="gotoPage('back')"><</a></li>
  <li *ngFor="let item of pageItems" [ngClass]="{'active': options.currentPage === item.label}"><a (click)="gotoPage(item.label)">{{item.label}}</a></li>
  <li><a (click)="gotoPage('forward')">></a></li>
</ul>
