<md-card [ngClass]="{'col-md-6':cols}">
<md-card-content class="card-height">
<div class="row">
  <div class="col-xs-12  ticket-image desk">
    <img src="assets/images/{{favorite.basicDetails.image || placeholder-event.jpg}}"/>
  </div>
  <div class="col-xs-12">
    <h4>{{favorite.basicDetails.name}}</h4>
    <h5>@ {{favorite.basicDetails.venue}}</h5>
    <h6>{{favorite.location.city}}, {{favorite.location.province}}</h6>
    <h6>{{favorite.basicDetails.startDate | amDateFormat:'MMM DD YYYY hh:mm A'}} - {{favorite.basicDetails.endDate | amDateFormat:'MMM DD YYYY hh:mm A'}}</h6>
    <!-- <div class="ticket-details">
      {{favorite.qty}} Tickets
    </div> -->
  </div>
</div>
</md-card-content>
<md-card-actions>
<div class="row">
  <div class="col-sm-4 nopad icon-holder">
    <div class="block-icon"><i class="material-icons">share</i></div>
    <div class="block-icon"><i class="material-icons red">favorite</i></div>
  </div>
  <div class="col-md-8 t-right">
    <button (click)="viewEvent()" md-raised-button>View Event</button>
  </div>
</div>
</md-card-actions>
</md-card>
