.comments {

    .comment {

    }

    .comment-date, .comment-name {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .comment-name {
    	text-align: right;
    	padding-right:20px;
    }

    .comment-details {

        p {
        	padding-bottom: 20px;
        border-bottom: 1px solid #000;
    }
    }

    .paginate {
    	margin-top:15px;
    	margin-bottom:15px;
        .prev {
            padding-left: 10px;
            text-align: left;
        }

        .next {
            padding-right: 10px;
            text-align: right;
        }
    }
}
