<div class="comments">
	<md-card class="profits">
	<md-toolbar color="primary" class="section-title">
	<span>Comments</span>
	<!-- This fills the remaining space of the current row -->
	<span class="example-fill-remaining-space">
	</span>
	<span></span>
	</md-toolbar>
	</md-card>

	<div class="row" *ngFor="let comment of comments">
		<div class="col-xs-12">
			<md-card>
			<md-toolbar color="primary" class="section-title">
			<span>{{comment.name}}</span>
			<!-- This fills the remaining space of the current row -->
			<span class="example-fill-remaining-space">
			</span>
			<span>{{comment.date}}</span>
			</md-toolbar>
			<md-card-content>
			<p>
				{{comment.message}}
			</p>
			</md-card-content>
			</md-card>
		</div>
	</div>

	<div class="row paginate" *ngIf="loaded && pagOptions.total > pagOptions.maxPerPage">
		<div class="col-xs-12 pag">
			<paginator-controls [options]="options"></paginator-controls>
		</div>
	</div>
</div>
