.profile-dashboard-page {
    .profile-icons {

        @media (min-width: 768px) {
        }

        @media (min-width: 992px) {}

        @media (min-width: 1200px) {}

        div {
            text-align:center;
        }
    }

}
