<div class="profile-dashboard-page page">
<div class="row">
		<div class="col-xs-12">
			<md-card>
			<md-toolbar color="primary">
			<h3>Profile &amp; Settings</h3>
			</md-toolbar>
			</md-card>
		</div>
	</div>
<div class="row profile-icons">
	<div class="col-xs-12 col-sm-3">
		<a [routerLink]="['/profile/interests']">
					<md-card class="profits">
		<md-toolbar color="primary">
		<span>Interests</span>
		<!-- This fills the remaining space of the current row -->
		<span class="example-fill-remaining-space"></span>
		<span></span>
		</md-toolbar>
		</md-card>
		</a>
	</div>
	<div class="col-xs-12 col-sm-3">
		<a [routerLink]="['/profile/deposit-info']">
					<md-card class="profits">
		<md-toolbar color="primary">
		<span>Deposit Info</span>
		<!-- This fills the remaining space of the current row -->
		<span class="example-fill-remaining-space"></span>
		<span></span>
		</md-toolbar>
		</md-card>
		</a>
	</div>
	<div class="col-xs-12 col-sm-3">
		<a [routerLink]="['/profile/change-password']">
					<md-card class="profits">
		<md-toolbar color="primary">
		<span>Change Password</span>
		<!-- This fills the remaining space of the current row -->
		<span class="example-fill-remaining-space"></span>
		<span></span>
		</md-toolbar>
		</md-card>
		</a>
	</div>
	<div class="col-xs-12 col-sm-3">
		<a [routerLink]="['/profile/personal-info']">
					<md-card class="profits">
		<md-toolbar color="primary">
		<span>Personal Info</span>
		<!-- This fills ethe remaining space of the current row -->
		<span class="example-fill-remaining-space"></span>
		<span></span>
		</md-toolbar>
		</md-card>
		</a>

	</div>
</div>
</div>
