.event-organizer {

    margin-bottom: 20px;
    @media (min-width: 768px) {
        margin-bottom: 40px;
    }

    @media (min-width: 992px) {}

    @media (min-width: 1200px) {}
    .profile-image {
        padding-top:16px;
        img {
            width:100%;
            border: 1px solid #000;
            padding: 5px;
        }
    }

        .organizer-name {
            margin-top: 15px;
            margin-bottom: 7px;
        }

        .organization-name {
            margin-bottom: 7px;
        }

        .organizer-affiliations {
            margin-bottom: 7px;
        }

        .phone {
            margin-bottom: 7px;
        }

        .organizer-rating {
            font-weight: bold;
            font-size: 24px;
        }

        .rate-buttons {
            text-align: right;

            input, select {
                display: inline;
            }

            .form-control {
                width: 100px;
            }

            button {
                margin-top: 20px;
            }


        }

        .ratings {
            min-width: auto;
            width: auto;
            margin-bottom:25px;
        }

}
