<md-card class="event-organizer" *ngIf="promoter">
<md-toolbar color="primary">
<span><h4>Promoter Details</h4></span>
<!-- This fills the remaining space of the current row -->
<span class="example-fill-remaining-space"></span>
<span><a [routerLink]="['/promoter', promoter._id, 'details']"><h4>More</h4></a></span>
</md-toolbar>
<md-card-content *ngIf="loading">
        <div class="small-loader small"></div>
</md-card-content>
<md-card-content  *ngIf="!loading">
<div class="organizer-name" *ngIf="promoter.first && promoter.last">
  <p>Name : {{promoter.first + ' ' + promoter.last}}</p>
</div>
<div class="organizer-name" *ngIf="promoter.email">
  <p>Email : {{promoter.email}}</p>
</div>
<div class="organization-name" *ngIf="promoter.organization">
  <p>Organization : {{promoter.organization}}</p>
</div>
<div class="organizer-affiliations" *ngIf="promoter.affiliation">
  <p>Affiliations: {{promoter.affiliation}}</p>
</div>
<div class="phone" *ngIf="promoter.phone">
  <p>Phone: {{promoter.phone}}</p>
</div>
<div class="row">
  <div class="col-xs-12"><h5>Rating</h5></div>
  <div class="col-xs-3 col-sm-2 organizer-rating">{{proRating || 0}}</div>
  <div class="col-xs-9 col-sm-10 rate-buttons">
    <form [formGroup]="ratingForm" novalidate *ngIf="!hideRating">
    <div>
      <md-select placeholder="Rate" formControlName="ratings" name="rating" class="ratings">
      <md-option *ngFor="let rating of rating" [value]="rating.value">
      {{rating.name}}
      </md-option>
      </md-select>
      </div>
      <div>
      <button class="rate-btn" (click)="rateOrganizer()" md-raised-button>Rate</button>
      </div>
    </form>
  </div>
</div>
</md-card-content>
<md-card-actions align="end" *ngIf="hideRating">
<button md-raised-button>Edit</button>
<button md-raised-button>Remove</button>
</md-card-actions>
</md-card>
