<div class="event-confirmation-page">
<pp-header></pp-header>
<div class="row desk">
	<div class="col-xs-12 page-headers">
		<h1>Thank you for your purchase</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-5 col-sm-push-7 col-md-4 col-md-push-8  event-confirmation-left">
		<div class="row">
			<div class="col-xs-12 section-title">
				<div class="col-xs-9 col-sm-12 title mobile">Register</div>
				<div class="col-xs-9 col-sm-12 title desk">Event Details</div>
				<div class="col-xs-3 link mobile"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-6 event-details">
						<div class="event-venue">
							Event Venue Name
						</div>
						<div class="event-location">
							Event City,  Province / State
						</div>
						<div class="event-address">Event Address</div>
						<div class="map">(View Map)</div>
					</div>
					<div class="map"></div>
				</div>
				<event-organizer></event-organizer>
			</div>
		</div>
	</div>
	<div class="col-sm-7 col-sm-pull-5 col-md-8 col-md-pull-4 event-confirmation-right">
		<div class="row">
			<div class="col-xs-12 section-title">
				<div class="col-xs-9 col-sm-12 title">Ticket Details</div>
				<div class="col-xs-3 link mobile"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-xs-12">
						<div class="ticket-details">
							Ticket Type 1 Name or Description Here And Second Line if need be.
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 section-title">
				<div class="col-xs-9 col-sm-12 title">Personal Details</div>
				<div class="col-xs-3 link mobile"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-xs-12 col-md-11">
						<div class="personal-details">
							<div class="row">
								<div class="col-xs-12 detail-row">First Name</div>
								<div class="col-xs-12 detail-row">Last Name</div>
								<div class="col-xs-12 detail-row">Email</div>
								<div class="col-xs-12 detail-row">Address</div>
								<div class="col-xs-12 detail-row">Zip</div>
								<div class="col-xs-12 detail-row">City</div>
								<div class="col-xs-12 detail-row">Province</div>
								<div class="col-xs-12 detail-row">Country</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 row cost-details">
			<div class="row">
				<div class="col-xs-12 col-md-11">
					<div class="cost-details">
						<div class="row">
							<div class="col-xs-12 credits">Credits Used : $243234</div>
							<div class="col-xs-12 price">Price : $243234</div>
							<div class="col-xs-12 actions">
								<div class="col-xs-12"><button>View Tickets</button></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
