.event-confirmation-page {
    .page-headers {
        padding-left: 40px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .event-confirmation-left {
        padding-left: 10px;
        padding-right: 10px;
        background-color: #F5F5F5;

        @media (min-width: 768px) {
            background-color: #FFF;
        }

        @media (min-width: 992px) {}

        @media (min-width: 1200px) {}

        .event-details {
            padding-top: 10px;

            @media (min-width: 768px) {
                margin-bottom: 30px;
            }

            .event-venue {
                margin-top: 10px;
                font-weight: medium;
            }

            .event-location {
                margin-top: 7px;
                font-weight: medium;
            }

            .event-address {
                margin-top: 7px;
                font-weight: medium;
            }

            .map {
                margin-top: 7px;
                margin-bottom: 15px;
            }
        }
    }

    .event-confirmation-right {
        background-color: #F5F5F5;
        padding-left: 10px;
        padding-right: 10px;

        @media (min-width: 768px) {
            background-color: #FFF;
            padding-left: 40px;
            padding-right: 20px;
        }

        @media (min-width: 992px) {
            background-color: #FFF;
            padding-left: 40px;
        }

        .ticket-details {
            padding: 15px 0 15px 0;

            @media (min-width: 768px) {
                margin-bottom: 30px;
            }
        }

        .personal-details {
            padding: 15px 0 15px 0;

            .detail-row {
                margin-top: 9px;
            }

            input {
                margin-top: 15px;
            }

            span {
                position: relative;
                top: -8px;
                padding-left: 10px;
            }
        }

        .cost-details {
            @media (min-width: 768px) {
                padding-right: 0px;
            }

            background-color: #FFF;
            margin-bottom: 20px;

            .credits {
                text-align: right;
                font-size: 20px;
                font-weight: bold;
                margin-top: 30px;

                @media (min-width: 768px) {
                    padding-right: 0px;
                }
            }

            .price {
                text-align: right;
                font-size: 20px;
                font-weight: bold;
                margin-top: 20px;
                margin-bottom: 20px;

                @media (min-width: 768px) {
                    padding-right: 0px;
                }
            }

            .actions {
                @media (min-width: 768px) {
                    padding-right: 0px;
                }

                div {
                    text-align: right;
                    padding-right: 0px;
                    margin-bottom: 15px;
                }

                button {
                    margin-top: 10px;
                }
            }
        }
    }
}
