.cash-out-page {
    .cash-out-left {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        background-color: #F5F5F5;

        @media (min-width: 768px) {
            background-color: #FFF;
        }

        @media (min-width: 992px) {}

        @media (min-width: 1200px) {}
    }

    .cash-out-right {
        background-color: #F5F5F5;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;

        @media (min-width: 768px) {
            background-color: #FFF;
            padding-left: 20px;
            padding-right: 20px;
        }

        @media (min-width: 992px) {
            background-color: #FFF;
            padding-left: 40px;
        }

        h4 {
            margin-bottom:20px;
        }
        .cash-out-form {
            input {
                width: 100%;
                margin-bottom:20px;
            }
            button {
                margin-bottom:20px;
            }
        }
    }
}
