<div class="cash-out-page">
<pp-header></pp-header>
<div class="row">

	<div class="col-xs-12 col-sm-12 col-md-8 cash-out-left">
		<div class="row">
			<div class="col-xs-12">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-4 cash-out-right">
		<div class="row">
			<div class="col-xs-12">
				<div><h4>Funds in Holding: $2344</h4> </div>
				<div><h4>Funds Available: $234234</h4></div>
			</div>
		</div>
		<div class="row cash-out-form">
			<div class="col-xs-12">
				<input type="text" name="">
			</div>
			<div class="col-xs-12">
				<button>Cash Out</button>
			</div>
		</div>
	</div>
</div>
</div>
