<div class="faq-page page">
<div class="row">
		<div class="col-xs-12">
			<md-card>
			<md-toolbar color="primary">
			<h3>Contact Us</h3>
			</md-toolbar>
			</md-card>
		</div>
	</div>
<contact-form></contact-form>
</div>
