.tickets {

    .event-title-bar {
        font-size: 1.5em;
    }
    .section-title {
        background-color: #FFF;
        height: 40px;
        padding-top: 10px;

        .title {
            text-align: left;
            padding-left: 0px;
        }

        .link {
            text-align: right;
            padding-right: 0px;
        }
    }

    .ticket-details {
        //border-bottom: 1px solid #000;
        margin-right: 0px;

        .ticket-desc {
            margin-top: 15px;
            padding: 0px;
        }

        .tickets-available {
            margin-top: 0px;
            padding: 0px;
        }

        .ticket-price {
            padding: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
            font-weight: 500;
            font-size: 20px;

            @media (min-width: 992px) {}

            @media (min-width: 1200px) {}
        }

        .qty-con {
            text-align: right;
            margin-top: 20px;
            md-input-container {
                width: 40px;
            }

        }

        .actions {
            margin-top: 10px;

            .ticket-qty {
                padding: 0px;
                text-align: left;

                @media (min-width: 768px) {
                    text-align: right;
                }

                input {
                    width: 60px;
                    margin-right: 10px;
                }
            }

            .ticket-submit {
                @media (min-width: 768px) {
                    text-align: right;
                }

                padding: 0px;
                text-align: right;
            }

            margin-bottom: 20px;
        }
    }
}


    .ticket-details:last-of-type{
    border:none;
}


md-card-actions {

}

.event-title {
    h4{
    line-height: 30px;
}
}
