

<md-card class="tickets" *ngFor="let ticket of tickets">
<div class="event-title">
  <h4>{{ticket.description}}</h4>
  </div>
<md-card-content class="tl">
<div class="row ticketss">
	<div class="col-xs-12 ticket-details">
		<div class="col-xs-12 tickets-available">
			<h5>{{ticket.available}} Tickets Available</h5>
		</div>
		<div class="col-xs-9 ticket-price">
			<h3>${{ticket.cost}} (USD)</h3>
		</div>
		<div class="col-xs-3 qty-con" *ngIf="!isCreate">
			<md-input-container>
				<input mdInput [(ngModel)]="inputQty" type="number" min="0" name="qty" placeholder="Qty">
			</md-input-container>
		</div>
	</div>
</div>
<md-card-actions align="end">
<button *ngIf="!isCreate" class="btn-top" md-raised-button (click)="buyTickets(ticket._id, inputQty)">Purchase</button>
<button *ngIf="isCreate" md-raised-button (click)="removeTicket(ticket)">Remove</button>
</md-card-actions>
</md-card-content>
</md-card>
