<div class="event-list">
  <div class="col-xs-12 filters">
    <md-card>
    <md-toolbar color="primary">
    <h3>Events In Your Area</h3>
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <span (click)="toggleFilter()"><span [hidden]="(!showFilter)"><i class="material-icons">expand_less</i></span><span [hidden]="(showFilter)"><i class="material-icons">expand_more</i></span></span>
    </md-toolbar>
    <md-card-content [hidden]="!showFilter">
    <form [formGroup]="FilterForm" novalidate>
      <div class="row filter-form">
        <div class="filter-item keyword">
          <md-input-container>
          <input mdInput type="text" placeholder="Keywords" name="" formControlName="keywords">
          <md-hint align="start">abc</md-hint>
          </md-input-container>
        </div>
        <div class="filter-item location">
          <md-input-container>
          <input class="ac" type="text" mdInput
          [options]='geoOptions'
          (setAddress) = "getAddress($event)"
          (street_number) = 'street_number=$event'
          (street)= 'street=$event'
          (city)= 'city=$event'
          (state)='state=$event'
          (district)='district=$event'
          (country)='country=$event'
          (postal_code)='postal_code=$event'
          (lat)='lat=$event'
          (lng)='lng=$event'
          (adr_address)='adr_address=$event'
          (name)='name=$event'
          (place_id)='place_id=$event'
          (types)='types=$event'
          (url)='url=$event'
          (utc_offset)='utc_offset=$event'
          (vicinity)='vicinity=$event'
          (photos)='photos=$event'
          (airport)='airport=$event'
          (CountryCodes)='CountryCodes=$event'
          formControlName="location"
          placeholder="Location"
          id="autocomplete"
          ng2-google-place-autocomplete/>
          <md-hint align="start">abc</md-hint>
          </md-input-container>
        </div>
        <div class="filter-item category">
          <!-- <ng2-select [placeholder]="'Category'"
          [displayBy]="'name'"
          [selectedDisplayBy]="'value'"
          [options]="categories"
          formControlName="category">
          </ng2-select> -->
          <md-select placeholder="Category" formControlName="category" name="category">
          <md-option *ngFor="let category of categories" [value]="category.value">
          {{category.name}}
          </md-option>
          </md-select>
        </div>
        <div class="filter-item price">
          <md-select placeholder="Price" formControlName="price" name="price">
          <md-option *ngFor="let price of price" [value]="price.value">
          {{price.name}}
          </md-option>
          </md-select>
        </div>
        <div class="filter-item button">
          <button md-raised-button (click)="filterEvents()">Search</button>
        </div>
      </div>
    </form>
    </md-card-content>
    </md-card>
  </div>
  <div class="col-xs-12">
    <div *ngIf="!loaded">
      <div class="small-loader"></div>
    </div>
    <div *ngIf="loaded" class="event-grid">
      <event-block  id="eco" *ngFor="let eventDetails of events" [eventdetails]=eventDetails></event-block>
      <div class="no-events"><h4 *ngIf="events.length === 0">No Events Found</h4></div>
    </div>
  </div>
  <div class="row paginate" *ngIf="!showMore">
    <div class="col-xs-12 pag">
    <paginator-controls *ngIf="loaded && pagOptions.total > pagOptions.maxPerPage" [options]="pagOptions"></paginator-controls>
  </div>
</div>
<div class="row more" *ngIf="showMore"><a [routerLink]="['/events']"><button md-raised-button>View More</button></a></div>
</div>
