.event-list {

    margin-bottom: 20px;
    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) {
        margin-bottom: 60px;
    }

    .hides {
        display: none !important;

        @media (min-width: 768px) {
            display: block !important;
        }
    }

    .filters {

        .filter-form {
            padding-left: 20px;
            padding-right: 20px;

            .filter-item {
                margin-right: 20px;
                display: block;
                margin-bottom:25px;

                @media (min-width: 768px) {
                    display: inline-block;
                }

                &.keyword {
                    width: 100%;

                    @media (min-width: 768px) {
                        width: 45%;
                    }

                    /* Medium devices (desktops, 992px and up) */
                    @media (min-width: 992px) {
                        width: 45%;
                    }

                    /* Large devices (large desktops, 1200px and up) */
                    @media (min-width: 1200px) {
                        width: 21%;
                    }
                }

                &.location {
                    width: 100%;

                    @media (min-width: 768px) {
                        width: 45%;
                    }

                    /* Medium devices (desktops, 992px and up) */
                    @media (min-width: 992px) {
                        width: 45%;
                    }

                    /* Large devices (large desktops, 1200px and up) */
                    @media (min-width: 1200px) {
                        width: 21%;
                    }
                }

                &.category {
                    width: 100%;

                    @media (min-width: 768px) {
                        width: 45%;
                    }

                    /* Medium devices (desktops, 992px and up) */
                    @media (min-width: 992px) {
                        width: 45%;
                    }

                    /* Large devices (large desktops, 1200px and up) */
                    @media (min-width: 1200px) {
                        width: 21%;
                    }
                }

                &.price {
                    width: 100%;

                    @media (min-width: 768px) {
                        width: 45%;
                    }

                    /* Medium devices (desktops, 992px and up) */
                    @media (min-width: 992px) {
                        width: 45%;
                    }

                    /* Large devices (large desktops, 1200px and up) */
                    @media (min-width: 1200px) {
                        width: 21%;
                    }
                }

                &.button {
                    display: block;
                    text-align: right;
                    margin-top: 20px;
                    padding-right: 10px;
                    width: 100%;
                }
            }
        }
    }

    #search_panel {
        display: block;
        text-align: center;
        background-color: #A19C9C;

        /* Small devices (tablets, 768px and up) */
        @media (min-width: 768px) {
            background-color: #FFF;
            margin-bottom: 20px;
        }

        /* Medium devices (desktops, 992px and up) */
        @media (min-width: 992px) {}

        /* Large devices (large desktops, 1200px and up) */
        @media (min-width: 1200px) {}

        .filter-form {

            .form-group {
                @media (min-width: 768px) {
                    margin: 20px 3px 0 3px;
                }
            }
        }

        .mobile-filter {
            display: block;
            height: 40px;
            background-color: #F6F6F6;

            /* Small devices (tablets, 768px and up) */
            @media (min-width: 768px) {
                background-color: #FFF;
                display: block;
                margin-bottom: 30px;
            }

            .change-filter {
                margin-top: 10px;
                display: block;
                text-align: right;

                /* Small devices (tablets, 768px and up) */
                @media (min-width: 768px) {
                    display: none;
                }

                /* Medium devices (desktops, 992px and up) */
                @media (min-width: 992px) {}

                /* Large devices (large desktops, 1200px and up) */
                @media (min-width: 1200px) {}
            }

            h1 {
                font-size: 16px;
                text-align: left;
                margin: 10px 0 0 0;

                /* Small devices (tablets, 768px and up) */
                @media (min-width: 768px) {
                    text-align: center;
                    font-size: 30px;
                }

                /* Medium devices (desktops, 992px and up) */
                @media (min-width: 992px) {}

                /* Large devices (large desktops, 1200px and up) */
                @media (min-width: 1200px) {}
            }
        }
    }

    .more {
        clear: both;
        text-align: center;

        @media (min-width: 768px) {
            margin-top: 60px;
        }

        button {
            background-color: #F6F6F6;
            border-radius: 0px;
            width: 85%;
            height: 60px;
            font-weight: bold !important;

            @media (min-width: 768px) {
                font-weight: medium;
                height: 40px;
                background-color: #FFF;
                border-radius: 3px;
                width: auto;
            }
        }
    }
}

.pag {
    text-align: center;
}

.no-events {
    padding-left: 20px;
}

