<div class="tickets-page page">
	<div class="row">
		<div class="col-xs-12 ticket-list">
			<md-card class="page-header">
			<md-toolbar color="primary" class="section-title">
			<h3>My Tickets</h3>
			<!-- This fills the remaining space of the current row -->
			<span class="example-fill-remaining-space"></span>
			<span></span>
			</md-toolbar>
			</md-card>
			<div *ngIf="tickets && loaded">
				<tickets-dashboard [type]="true" *ngFor="let ticket of tickets" [ticket]="ticket" [tempTicket]="ticket"></tickets-dashboard>
			</div>
			<md-card *ngIf="!loaded">
				<div class="small-loader small"></div>
			</md-card>
		</div>
	</div>
</div>
