.custom-modal-container {
    padding: 15px;
    color:#A8A8A8;
    .custom-modal-header {
        margin-top: -15px;
        margin-bottom: 40px;
    }

    .interests {
        display: inline-block;
        margin-right: 15px;
    }

    small {
      margin-top: 7px;
      padding-left: 10px;
    }

    .mat-input-container {
        width:100%;
         &.ng-valid {
            .mat-input-underline {
                border-top-width: 3px;
                border-color: #9ac393;
            }

            .ng2-dropdown-button {
                border-bottom-width: 3px;
                border-color: #9ac393;
            }
        }

        &.ng-invalid {
            .mat-input-underline {
                border-top-width: 3px;
                border-color: #ce9e9e;

                &.md-disabled {
                    background-image: linear-gradient(to right, rgb(208, 33, 33) 0%, rgba(255, 0, 0, 0.26) 33%, transparent 0%);
                }
            }

            .ng2-dropdown-button {
                border-bottom-width: 3px;
                border-color: #ce9e9e;
            }
        }
    }

    .close, .t-right {
        text-align: right;
    }

    form {
        margin-top: 20px;
    }

    .modal-detail {
        margin-top: 25px;
    }
}
