<div class="container-fluid custom-modal-container">
    <div class="custom-modal-header">
        <div class="close">
            <span (click)="closeModal()"><i class="material-icons">clear</i></span>
        </div>
    </div>
    <md-tab-group>
    <md-tab label="Login">
    <div class="col-sm-12">
        <form [formGroup]="loginForm" novalidate (ngSubmit)="login(loginForm.value, loginForm.valid)">
            <div class="form-group row">
                <div class="col-sm-12">
                    <md-input-container>
                    <input mdinput mdInput type="text" formControlName="email" placeholder="Email"></md-input-container>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <md-input-container>
                    <input mdInput type="password" formControlName="password" placeholder="Password"></md-input-container>
                </div>
            </div>
            <div class="t-right">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
    </md-tab>
    <md-tab label="Register">
    <div class="row">
        <div class="col-sm-12">
            <p class="modal-detail">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-xs-12">
            <form [formGroup]="regForm" novalidate (ngSubmit)="register(regForm.value, regForm.valid)">
                <div class="form-group row" formGroupName="emails">
                    <div class="col-sm-6">
                        <md-input-container>
                        <input mdinput mdInput type="text" formControlName
                        ="email" placeholder="Email (required)">
                        <!-- <md-hint [hidden]="(!regForm.controls.emails.controls.email.dirty && !regForm.controls.emails.controls.email.valid) || (regForm.controls.emails.controls.email.dirty && regForm.controls.emails.controls.email.valid)" class="text-danger">
                        Please enter a valid email address.
                        </md-hint> -->
                        </md-input-container>
                    </div>
                    <div class="col-sm-6">
                        <md-input-container>
                        <input mdinput mdInput type="text" formControlName
                        ="emailConfirm" placeholder="Confirm Email (required)">
                        <!-- <md-hint [hidden]="(!regForm.controls.emails.errors || !regForm.controls.emails.errors.mismatchedPasswords) || (!regForm.controls.emails.controls.emailConfirm.dirty)" class="text-danger">
                        Email address does not match.
                        </md-hint> -->
                        </md-input-container>
                    </div>
                    <!-- <pre class="margin-20">{{regForm.controls.emails.controls.email.valid}}{{ regForm.controls.emails.controls.email.dirty }}</pre> -->
                </div>
                <div class="form-group row" formGroupName="passwords">
                    <div class="col-sm-6">
                        <md-input-container>
                        <input mdInput type="password" placeholder="Password (required)" formControlName="password">
                        <!-- <md-hint [hidden]="(!regForm.controls.passwords.controls.password.errors || !regForm.controls.passwords.controls.password.errors.passFormat) || (!regForm.controls.passwords.controls.password.dirty)" class="text-danger">
                        Please enter a valid email password.
                        </md-hint> -->
                        </md-input-container>
                    </div>
                    <div class="col-sm-6">
                        <md-input-container>
                        <input mdInput type="password" formControlName="passwordConfirm" placeholder="Confirm password (required)">
                        <!-- <md-hint [hidden]="(!regForm.controls.passwords.errors || !regForm.controls.passwords.errors.mismatchedPasswords) || (!regForm.controls.passwords.controls.passwordConfirm.dirty)" class="text-danger">
                        Passwords do not match.
                        </md-hint> -->
                        </md-input-container>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <md-input-container>
                        <input mdInput type="text" placeholder="First Name" formControlName="firstname">
                        <!-- <md-hint [hidden]="(!regForm.controls.firstname.errors || !regForm.controls.firstname.errors.incorrectName) || (!regForm.controls.firstname.dirty)" class="text-danger">
                        Please enter your first name.
                        </md-hint> -->
                    </md-input-container>                    </div>
                    <div class="col-sm-6">
                        <md-input-container>
                        <input mdInput type="text" placeholder="Last Name" formControlName="lastname">
                        <!-- <md-hint  [hidden]="(!regForm.controls.lastname.errors || !regForm.controls.lastname.errors.incorrectName) || (!regForm.controls.lastname.dirty)" class="text-danger">
                        Please enter your last name.
                        </md-hint> -->
                        </md-input-container>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <md-input-container>
                        <input mdInput type="text" placeholder="City" formControlName="city"></md-input-container>
                    </div>
                    <div class="col-sm-6">
                        <md-input-container>
                        <input mdInput type="text" placeholder="Country" formControlName="country"></md-input-container>
                    </div>
                </div>
                <div class="form-group row" formGroupName="interests">
                    <div class = "col-xs-12">
                        <div *ngFor="let interest of interests" class="interests">
                            <label for="interest" >{{interest.name}}</label>
                            <input
                            type = "checkbox"
                            formControlName="{{interest.value}}"/>
                        </div>
                    </div>
                </div>
                <div class="t-right">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
    </md-tab>
    </md-tab-group>
</div>
