.personal-details-page {
    .copy {
        margin-top:20px;
        margin-bottom:20px;

        @media (min-width: 768px) {
            margin-top:40px;
            margin-bottom:40px;
        }

        @media (min-width: 992px) {}

        @media (min-width: 1200px) {}
    }

    .detail-form {
        input, button {
            margin-bottom:20px;
        }
    }

    .page-content {
        margin-top: 20px;
    }

}
