<div class="promoter-details-page page" *ngIf="promoter">
<div class="row">
		<div class="col-xs-12">
			<md-card>
			<md-toolbar color="primary">
			<h3>Promoter Details</h3>
			</md-toolbar>
			</md-card>
		</div>
	</div>
<div class="row">
	<div class="col-sm-5 promoter-details-left">
		<div class="row">
			<div class="col-sm-12">
				<event-organizer [loaded]="promoter"></event-organizer>
				<contact-form></contact-form>
			</div>
		</div>
	</div>
	<div class="col-sm-7 promoter-details-right">
		<div class="row">
			<div class="col-sm-12">
				<comments></comments>
				<comments-form></comments-form>
			</div>
		</div>
	</div>
</div>

