.promoter-details-page {


    .promoter-details-left {
        padding-left: 10px;
        padding-right: 10px;
        background-color: #F5F5F5;

        @media (min-width: 768px) {
            padding-left:15px;
            background-color: #FFF;
        }

        @media (min-width: 992px) {}

        @media (min-width: 1200px) {}

        .promoter-details {
            padding-top: 10px;

            @media (min-width: 768px) {
                margin-bottom: 30px;
            }

            .promoter-name {
                margin-top: 10px;
                margin-bottom:15px;
                font-weight: bold;
            }

            .promoter-description {
                margin-top: 10px;
                margin-bottom:15px;
                font-weight: medium;
            }

        }
    }

    .promoter-details-right {
        padding-left: 10px;
        padding-right: 10px;

        @media (min-width: 768px) {
            padding-left: 20px;
            padding-right: 20px;
        }

        @media (min-width: 992px) {

        }

        .ticket-details {
            padding: 15px 0 15px 0;

            @media (min-width: 768px) {
                margin-bottom: 30px;
            }
        }

        .personal-details {
            padding: 15px 0 15px 0;

            .detail-row {
                margin-top: 9px;
            }

            input {
                margin-top: 15px;
            }

            span {
                position: relative;
                top: -8px;
                padding-left: 10px;
            }
        }

        .cost-details {
            @media (min-width: 768px) {
                padding-right: 0px;
            }

            background-color: #FFF;
            margin-bottom: 20px;

            .credits {
                text-align: right;
                font-size: 20px;
                font-weight: bold;
                margin-top: 30px;

                @media (min-width: 768px) {
                    padding-right: 0px;
                }
            }

            .price {
                text-align: right;
                font-size: 20px;
                font-weight: bold;
                margin-top: 20px;
                margin-bottom: 20px;

                @media (min-width: 768px) {
                    padding-right: 0px;
                }
            }

            .actions {
                @media (min-width: 768px) {
                    padding-right: 0px;
                }

                div {
                    text-align: right;
                    padding-right: 0px;
                    margin-bottom: 15px;
                }

                button {
                    margin-top: 10px;
                }
            }
        }
    }
}
