<md-card>
<md-card-title><h4>Q: QUESTION</h4></md-card-title>
	<md-card-content>
		<p>A: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum voluptate, architecto quasi consequuntur tenetur eum alias quo illo. Id sed maiores nisi, rem quam dicta necessitatibus minus. In, fugiat, fuga.</p>
	</md-card-content>
</md-card>
