.p2p-menu {
	/* Rectangle: */
	display: block;

	.navbar-default{
		opacity: 1;
	background: #000000;
	border: 1px solid #979797;
	position: fixed;
	z-index: 9999;
	}
	.navbar-brand {
		font-family: AvenirNext-Medium;
		font-size: 20px;
		color: #FFFFFF;
		letter-spacing: 0px;
		text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
	}

	li{
		a{
			font-family: AvenirNext-Medium;
			font-size: 20px;
			color: #FFFFFF;
			letter-spacing: 0px;
			text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
			margin-left:10px;
			background-color: #000;
		}
		/* Events: */
	}

	.dropdown-menu, li {
		background-color: #000;
	}

	.navbar-brand {
		&.mob {
			@media (max-width: 768px) {
				float: none;
        	}
    	}
	}

	.navbar-collapse.in {
		overflow-y: visible;
	}

}


