<div class="p2p-menu">
	<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" [routerLink]="['/']">Paid2Parti</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
					<li><a class="navbar-brand mob" [routerLink]="['events']">Events</a></li>
					<li *ngIf="!isLogged()"><a (click)="openCustom()">Login / Register</a></li>
					<li class="dropdown" *ngIf="isLogged()">
						<a href="#" class="navbar-brand mob" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a [routerLink]="['my-events/dashboard']">Event Management</a></li>
							<li><a [routerLink]="['account/dashboard']">Account Dashboard</a></li>
							<li><a [routerLink]="['account/my-tickets']">My Tickets</a></li>
							<li><a [routerLink]="['account/favorites']">Favorites</a></li>
							<li><a [routerLink]="['account/notifications']">Notifications</a></li>
							<li><a [routerLink]="['profile/dashboard']">Profile / Settings</a></li>
							<li><a [routerLink]="['profile/my-network']">My Network</a></li>
							<li role="separator" class="divider"></li>
							<li><a (click)="logout()">Logout</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="navbar-brand mob" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a [routerLink]="['help']">How It Works</a></li>
							<li><a [routerLink]="['help/faq']">Faq</a></li>
							<li><a [routerLink]="['help/contact']">Contact Us</a></li>
						</ul>
					</li>
				</ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</div>
<alert></alert>
<span defaultOverlayTarget></span>


