<md-card>

<md-card-content class="card-height">

<div class="row" *ngIf="!type">
	<div class="col-xs-12 ticket-image desk">
		<img src="assets/images/placeholder-event.jpg"/>
	</div>
	<div class="col-xs-12">
		<h4>{{ticket.event[0].basicDetails.name}}</h4>
		<h5>@ {{ticket.event[0].basicDetails.venue}}</h5>
		<h6>{{ticket.event[0].location.city}}, {{ticket.event[0].location.province}}</h6>
		<h6>{{ticket.event[0].basicDetails.startDate | amDateFormat:'MMM DD YYYY hh:mm A'}} - {{ticket.event[0].basicDetails.endDate | amDateFormat:'MMM DD YYYY hh:mm A'}}</h6>
		<!-- <div class="ticket-details">
			{{ticket.qty}} Tickets
		</div> -->
	</div>
</div>

<div class="row" *ngIf="type">
	<div class="col-xs-12 col-sm-3 col-md-2">
		<qr-code [data]="'All QR Code data goes here!'" [size]="150"></qr-code>
		<div><br/>{{ticket._id}}</div>
	</div>

	<div class="col-xs-12 event-date col-sm-9 col-md-8">
		<md-toolbar class="event-title">{{ticket.event[0].basicDetails.name}}</md-toolbar>
		<md-toolbar class="event-title">@ {{ticket.event[0].basicDetails.venue}}</md-toolbar>
		<div class="">{{ticket.event[0].location.address}}, {{ticket.event[0].location.city}}, {{ticket.event[0].location.province}}</div>
		<div class="">{{ticket.event[0].basicDetails.startDate | amDateFormat:'MMM DD YYYY hh:mm A'}} - {{ticket.event[0].basicDetails.endDate | amDateFormat:'MMM DD YYYY hh:mm A'}}</div>
		<div class="ticket-details">
			{{ticket.ticket[0].description}}
		</div>
	</div>
</div>

</md-card-content>
<md-card-actions>
<div class="row">
	<div class="col-sm-4 nopad icon-holder">
		<div class="block-icon"><i class="material-icons">share</i></div>
	</div>
	<div class="col-md-8 t-right">
		<button (click)="viewEvent()" md-raised-button>View Event</button>
		<button (click)="printTicket()" *ngIf="type" md-raised-button>Print Ticket</button>
		<button *ngIf="!type" (click)="viewTicket()" md-raised-button>View Ticket(s)</button>
	</div>
</div>
</md-card-actions>
</md-card>
