.tickets-page {
    padding: 0px;

    .ticket-list {
        padding: 0px;
    }
    .tickets-left {

        background-color: #F5F5F5;

        @media (min-width: 768px) {
            background-color: #FFF;
        }

        @media (min-width: 992px) {}

        @media (min-width: 1200px) {}
    }

    .tickets-right {
        background-color: #F5F5F5;
    }

    .tickets-bottom {
        @media (min-width: 768px) {
            margin-top: 40px;
        }
    }
}
