<div class="tickets-page page">
	<div class="row">
		<div class="col-xs-12 ticket-list">
			<md-card class="profits">
			<md-toolbar color="primary" class="section-title">
			<h3>My Tickets</h3>
			<!-- This fills the remaining space of the current row -->
			<span class="example-fill-remaining-space"></span>
			<span></span>
			</md-toolbar>
			</md-card>
			<div *ngIf="loaded">
			<tickets-dashboard *ngFor="let ticket of tickets" [ticket]="ticket[0]"></tickets-dashboard>
			<md-card *ngIf="tickets && tickets.length === 0">
			<md-card-content>
			<p>No tickets currently purchased.</p>
			</md-card-content>
			</md-card>
			</div>
			<md-card *ngIf="!loaded">
				<div class="small-loader small"></div>
			</md-card>
		</div>
	</div>
</div>
