.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-success {
    color: #3c763d;
    background-color: #66b524;
    border-color: #d6e9c6;
}

.alert {
	z-index: 9999;
    position: fixed;
    width: 100%;
    left: 0px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    text-align: center;
    border-radius: 0px;
    color: #FFF;
    font-size: 1.3em;
    font-weight: bold;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
}
