<div class="event-registration-page page">
	<div class="row">
		<div class="col-xs-12">
			<md-card>
			<md-toolbar color="primary">
			<h3>Event Registration Page</h3>
			</md-toolbar>
			</md-card>
		</div>
	</div>
	<div class="row" *ngIf="event">
		<div class="col-sm-5 col-sm-push-7 col-md-5 col-md-push-7  event-registration-left">
			<md-card >
			<md-toolbar color="primary"><h4>Event Details</h4></md-toolbar>
			<md-card-content>
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-12 event-details">
							<div class="event-title">
								<h5>{{event.basicDetails.name}}</h5>
							</div>
							<div class="event-venue">
								<h5>{{event.basicDetails.venue}}</h5>
							</div>
							<div class="event-location">
								<p>{{event.location.address}}, {{event.location.city}},  {{event.location.province}}</p>
							</div>
							<div class="map">
								<!-- <span (click)="toggleMap()">(View Map)</span> -->
								<div class="gmap" *ngIf="showMap">
									<sebm-google-map [latitude]="event.location.latitude" [longitude]="event.location.longitude">
									<sebm-google-map-marker [latitude]="event.location.latitude" [longitude]="event.location.longitude"></sebm-google-map-marker>
									</sebm-google-map>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</md-card-content>
			</md-card>
			<event-organizer></event-organizer>
		</div>
		<div class="col-sm-7 col-sm-pull-5 col-md-7 col-md-pull-5 event-registration-right">
			<md-card class="buy-ticket" *ngIf="confirmation">
			<md-toolbar color="primary"><h4>Thank you for your purchase.</h4></md-toolbar>
			<md-card-content>
			<div class="ticket-details">
				{{ticket.qty}} x {{ticket.description}}
			</div>
			<div class="personal-details">
				<div class="row">
					<div class="col-xs-12 detail-row"><p>First Name : {{confInfo.first_name}}</p></div>
					<div class="col-xs-12 detail-row"><p>Last Name : {{confInfo.last_name}}</p></div>
					<div class="col-xs-12 detail-row"><p>Email : {{confInfo.email}}</p></div>
					<div class="col-xs-12 detail-row"><p>Address : {{confInfo.shipping_address.line1}}</p></div>
					<div class="col-xs-12 detail-row"><p>Zip : {{confInfo.shipping_address.postal}}</p></div>
					<div class="col-xs-12 detail-row"><p>City : {{confInfo.shipping_address.city}}</p></div>
					<div class="col-xs-12 detail-row"><p>Province / State : {{confInfo.shipping_address.state}}</p></div>
					<div class="col-xs-12 detail-row"><p>Country : {{confInfo.country_code}}</p></div>
				</div>
			</div>
			<div class="t-right">
				<div class="price t-right"><h4>Price : ${{ticket.price}}</h4></div>
			</div>
			</md-card-content>
			<md-card-actions align="end">
			<button md-raised-button (click)="viewTickets()">View Tickets</button>
			</md-card-actions>
			</md-card>
			<md-card class="buy-ticket" *ngIf="!confirmation">
			<md-toolbar color="primary"><h4>Ticket Details</h4></md-toolbar>
			<md-card-content>
			<div class="ticket-details">
				<h5>{{ticket.qty || ''}} x {{ticket.description || ''}}</h5>
			</div>
			</md-card-content>
			<md-card-actions align="end">
			<div>
				<div class="price"><h4>Price : ${{ticket.price || ''}}</h4></div>
				<div class="ppb">
					<div id="paypal-button"></div>
				</div>
			</div>
			</md-card-actions>
			</md-card>
			<md-card class="buy-ticket" *ngIf="!confirmation">
			<md-toolbar color="primary">
			<span (click)="toggleCredits()"><h4>Purchase With Credits</h4></span>
			<span (click)="toggleCredits()" class="example-fill-remaining-space toggle-arrow"></span>
			<!-- This fills the remaining space of the current row -->

			<span><span [hidden]="(!showCredits)"><i class="material-icons">keyboard_arrow_down</i></span><span [hidden]="(showCredits)"><i class="material-icons">keyboard_arrow_right</i></span></span>
			</md-toolbar>
			<div *ngIf="showCredits && hasCredits">
			<md-card-content>
			<div>
				<form class="row regForm" [formGroup]="regForm">
					<div class="col-xs-12 col-sm-4">
						<md-input-container>
						<input mdInput type="text" placeholder="First Name" name="" formControlName="firstname" [disabled]="ticket.price > credits">
						<md-hint [hidden]="(!regForm.controls.firstname.errors || !regForm.controls.firstname.errors.incorrectName) || (regForm.controls.firstname.valid)" class="text-danger">
						Please enter your first name.
						</md-hint>
						</md-input-container>
					</div>
					<div class="col-xs-12 col-sm-4">
						<md-input-container>
						<input mdInput type="text" placeholder="Last Name" name="" formControlName="lastname" [disabled]="ticket.price > credits">
						<md-hint [hidden]="(!regForm.controls.lastname.errors || !regForm.controls.lastname.errors.incorrectName) || (regForm.controls.lastname.valid)" class="text-danger">
						Please enter your last name.
						</md-hint>
						</md-input-container>
					</div>
					<div class="col-xs-12 col-sm-4">
						<md-input-container>
						<input mdInput type="text" placeholder="Email" name="" formControlName="email" [disabled]="ticket.price > credits">
						<md-hint [hidden]="(!regForm.controls.email.dirty && !regForm.controls.email.valid) || (regForm.controls.email.valid)" class="text-danger">
						Please enter a valid email address.
						</md-hint>
						</md-input-container>
					</div>
					<div class="col-xs-12 col-sm-9">
						<md-input-container>
						<input mdInput type="text" placeholder="Address" name="" formControlName="address" [disabled]="ticket.price > credits">
						<md-hint [hidden]="(!regForm.controls.address.dirty && !regForm.controls.address.valid) || (regForm.controls.address.valid)" class="text-danger">
						Please enter a valid address.
						</md-hint>
						</md-input-container>
					</div>
					<div class="col-xs-12 col-sm-3">
						<md-input-container>
						<input mdInput type="text" placeholder="Zip" name="" formControlName="zip" [disabled]="ticket.price > credits">
						<md-hint [hidden]="(!regForm.controls.zip.dirty && !regForm.controls.zip.valid) || (regForm.controls.zip.valid)" class="text-danger">
						Please enter a valid zip.
						</md-hint>
						</md-input-container>
					</div>
					<div class="col-xs-12 col-sm-4">
						<md-input-container>
						<input mdInput type="text" placeholder="City" name="" formControlName="city" [disabled]="ticket.price > credits">
						<md-hint [hidden]="(!regForm.controls.city.dirty && !regForm.controls.city.valid) || (regForm.controls.city.valid)" class="text-danger">
						Please enter a valid city.
						</md-hint>
						</md-input-container>
					</div>
					<div class="col-xs-12 col-sm-4">
						<md-input-container>
						<input mdInput type="text" placeholder="Province" name="" formControlName="province" [disabled]="ticket.price > credits">
						<md-hint [hidden]="(!regForm.controls.province.dirty && !regForm.controls.province.valid) || (regForm.controls.province.valid)" class="text-danger">
						Please enter a valid province.
						</md-hint>
						</md-input-container>
					</div>
					<div class="col-xs-12 col-sm-4">
						<md-input-container>
						<input mdInput type="text" placeholder="Country" name="" formControlName="country" [disabled]="ticket.price > credits">
						<md-hint [hidden]="(!regForm.controls.country.dirty && !regForm.controls.country.valid) || (regForm.controls.country.valid)" class="text-danger">
						Please enter a valid country.
						</md-hint>
						</md-input-container>
					</div>
				</form>
			</div>
			</md-card-content>
			</div>
			<md-card-actions align="end" *ngIf="hasCredits && showCrdits">
			<div>
				<div class="price">Credits : ${{ticket.price}}</div>
				<button md-raised-button type="submit" (click)="register(regForm.value, regForm.valid, 'card')" [disabled]="ticket.price > credits">Purchase with credits</button>
			</div>
			</md-card-actions>
			</md-card>
		</div>
	</div>
</div>
