.event-registration-page {
    .page-headers {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .event-registration-left {
        @media (min-width: 768px) {
            background-color: #FFF;
        }

        @media (min-width: 992px) {}

        @media (min-width: 1200px) {}

        .event-details {
            padding-top: 10px;

            @media (min-width: 768px) {
                margin-bottom: 0px;
            }

            .event-title {
                margin-top: 0px;
                font-weight: medium;
                font-size: 1.2em;
            }

            .event-venue {
                margin-top: 10px;
                font-weight: medium;
            }

            .event-location {
                margin-top: 7px;
                font-weight: medium;
            }

            .event-address {
                margin-top: 7px;
                font-weight: medium;
            }

            .map {
                margin-top: 15px;
                margin-bottom: 15px;
            }
        }
    }

    .event-registration-right {

        .buy-ticket {
            button {
                margin-bottom: 30px;
            }
        }

        @media (min-width: 768px) {
            background-color: #FFF;
            padding-left: 15px;
            padding-right: 20px;
        }

        @media (min-width: 992px) {
            background-color: #FFF;
            padding-left: 15px;
        }

        .ticket-details {
            padding: 15px 0 15px 0;
        }

        .personal-details {
            input {
                margin-top: 15px;
            }

            span {
                position: relative;
                top: -8px;
                padding-left: 10px;
            }
        }

        .cost-details {
            @media (min-width: 768px) {
                padding-right: 0px;
            }

            background-color: #FFF;
            margin-bottom: 20px;

            .credits {
                text-align: right;
                font-size: 20px;
                font-weight: bold;
                margin-top: 30px;

                @media (min-width: 768px) {
                    padding-right: 0px;
                }
            }

            .price {
                text-align: right;
                font-size: 20px;
                font-weight: bold;
                margin-top: 20px;
                margin-bottom: 20px;

                @media (min-width: 768px) {
                    padding-right: 0px;
                }
            }

        }
    }

    .price {
        text-align: right;
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-right: 15px;
    }

    .regForm {
        margin-top: 30px;
    }
}
